---
title: 友田明美（教授）
---

<h2>友田明美</h2>
<h4>教授</h4>

<div class="row">
  <div class="medium-8 columns">
<p>皆さん、初めまして！福井大学子どものこころの発達研究センター発達支援研究室および本学附属病院子どものこころ診療部で小児科医として、子どもの発達に関する診療・研究・教育をしている友田と申します。平成23年6月、縁あって自然豊かな福井に熊本から参りました。まずは自己紹介をさせてください。</p>

<p>私は、人間に対する興味から人間を対象とする「医学」を学びたいと思い、34年前に医学部に入りました。平成23年5月までは熊本大学病院の発達小児科で准教授の職に就いていましたが、福井大学に新しくできた子どものこころの発達研究センターで平成23年の6月から教授として働いています。研究テーマのひとつは「児童虐待と脳の発達」。私がこのテーマを選んだのは研修医のときでした。鹿児島のある病院で、脳内出血の子どもが救急外来に運ばれてきた。全身にはタバコによる火傷の跡。救命措置を施し、集中治療室で3日間寝ずに看病しましたが、その子は助かりませんでした。無償の愛を注ぐべきはずの親が、子どもに対してなぜこんなにもひどい仕打ちをするのか。私はこの問題を何とかしたいと思い、研究を始めたのです。</p>

<p>いまは、大学の院生さんや国内外の研究者たちと一緒に、ＭＲＩという、脳の画像が撮れる機械を使って子どもたちの脳について調べています。最近分かってきたのは、児童虐待を受けることで脳の大事な部分に「傷」がつく、ということです。この傷がずっと続くから、虐待を受けた子どもは大人になっても辛い思いをする。今後は、この傷をどうやって治していくか、そのことを目指して研究を続けていきたいと思います。</p>

<p>私は福井に来て、色々な分野の人たちと仲良くなりたいと考え実践しています。同じような考え方の人とだけ集まってしまうと、どうしても思考が凝り固まってしまう。異なる分野の人たちが集まるからこそ、思いがけないところからヒントが浮かんでくるのです。私は医者をやっていますが、薬学や工学、教育学、心理学など、様々な分野の人たちといつも仕事をしています。医学だけでできることは多くありません。これからは学際的に、つまり色々な学問分野が集まって、問題を解決する時代なのです。これからも色々な力を借り、福井の皆さんの子育てを小児科医の立場から支援していきたいと考えています。皆さん、子どものこころの発達研究センター発達支援研究室を今後ともどうぞ宜しくお願いします！</p>

<h3>専門領域・現職：</h3>
<p>
専門は小児発達学、小児精神神経学、社会融合脳科学<br/>
福井大学子どものこころの発達研究センター教授・副センター長<br/>
福井大学附属病院子どものこころの診療部長 兼任<br/>
大阪大学大学院連合小児発達学研究科福井校教授 兼任<br/>
生理学研究所多次元共同脳科学推進センター客員教授 兼任<br/>
</p>

<p>
日本発達神経科学会理事<br/>
日本子ども虐待医学会理事<br/>
日本ADHD学会理事<br/>
日本小児神経学会評議員<br/>
</p>

<p>
日本小児神経学会認定 小児神経専門医(第4078号)<br/>
日本小児科学会認定 小児科専門医(第10588号)<br/>
日本小児精神神経学会認定医(第1100173号)<br/>
</p>

<p>
福井県子どもの心の診療養成事業ネットワーク協議会委員<br/>
日本小児神経学会長期計画委員会副委員長<br/>
日本小児神経学会専門医委員会委員<br/>
日本小児神経学会　チック診療ガイドライン策定WG委員会委員<br/>
福井県いじめ調査専門委員<br/>
文部科学省初等中等教育局平成27年度いじめ対策等生徒指導推進事業実施にかかる9大学連携事業福井校代表<br/>
</p>

<h3>業績：</h3>
<ul>
  <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Tomoda+A%5Bau%5D+%2C+Fukui">Fukui University (pubmed link)</a></li>
  <li><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Tomoda+A%5Bau%5D+%2C+Kumamoto">Kumamoto University (pubmed link)</a></li>
</ul>

<h3>関連記事： </h3>
<ul>
  <li><a href="/resources/doctors_2018.pdf">DOCTOR’S MAGAZINE 2018年10月号より</a></li>
  <li><a href="/resources/Recreation_Tomoda.pdf">ストレスとレクリエーション</a></li>
  <li><a href="/resources/Genkideikou_Tomoda.pdf">元気で医こう　友田記事</a></li>
  <li><a href="http://news.ad.u-fukui.ac.jp/wp-content/uploads/tomoda.pdf">研究成果「ADHD 治療薬の長期投与による報酬感受性の改善効果を解明」</a></li>
  <li><a href="http://iryou.chunichi.co.jp/article/detail/20130321152502629">診療は育児見守る場　福井大子どものこころの発達研究センター</a></li>
  <li><a href="http://scienceportal.jp/columns/opinion/20130628_01.html">サイエンス・ポータルのコラム - オピニオン</a></li>
  <li><a href="/resources/atomoda_cv.pdf">List of Publications and English CV</a></li>
  <li><a href="/resources/Kouensiryou.pdf">講演資料</a></li>
  <li><a href="/resources/NewsLetter_No76.pdf">日本発達心理学会ニューズレターNews Letter 第76号</a></li>
</ul>

</div>
<div class="medium-4 columns">
<img src="/images/tomoda2013.png" alt="友田明美の写真"　class="right" />
<div class="topspace">
<a class="twitter-timeline" href="https://twitter.com/a_tomoda" data-widget-id="525928293745164288">Tweets by @a_tomoda</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>
</div>
