

<ul class="plain-spaced">
<li>陸路ですと福井駅からは、タクシーで20分ほど（料金3,000円ほど）で福井大学医学部松岡キャンパスに着きます。</li>
<li>空路ですと小松空港から、高速バス  <a href="http://www.komatsuairport.jp/komatsusypher/www/access/timetable_jr_fukui.html"></a>  で40分ほど（料金1,220円）で近くの「福井北インター」バス停に着きます。そこからタクシーでワンメーター料金で福井大学医学部松岡キャンパスに着きます。</li>
</ul>

<div class="centered">
<img src="/images/bus_schedule.png" />
</div>

<p class="topspace">福井大学の場所は、<a href="http://www.u-fukui.ac.jp/cont_about/outline/campus.html">こちらになります。</a>
松岡キャンパスマップの　１２　の研究棟の真ん中の
茶色いビルに入ってエレベーターで５階まで来て頂きますと、
降りたすぐ左前のお部屋が、Age2企画です。</p>