
<h3 class="title">福井大学のアクセス</h3>

<ul class="plain-spaced">
<li>陸路ですと福井駅からは、タクシーで20分ほど（料金3,300円ほど）で福井大学医学部松岡キャンパスに着きます。</li>
<li>空路ですと小松空港から、高速バス  <a href="http://www.komatsuairport.jp/komatsusypher/www/access/timetable_jr_fukui.html"></a>  で40分ほど（料金1,250円）で近くの「福井北インター」バス停に着きます。そこからタクシーでワンメーター料金で福井大学医学部松岡キャンパスに着きます。</li>
</ul>

<p>尚、小松空港でリムジンバスに乗られる前に松岡交通タクシー（0120-717-580または0776-61-0580）にお電話されると、「福井北インター」バス停に時間通り迎えに来てくれますのでご利用下さい。</p>

<div class="centered">
<img src="/images/bus_schedule.png" />
</div>

<p class="topspace">福井大学の場所は、<a href="http://www.u-fukui.ac.jp/cont_about/outline/campus.html">こちらになります。</a>
松岡キャンパスマップの１１の研究棟の真ん中の
茶色いビルに入ってエレベーターで５階まで来て頂きますと、
降りたすぐ左前のお部屋が、Age2企画です。</p>