
<h3 class="title">Development Notes</h3>

These web pages use <a href="http://middlemanapp.com">Middleman</a> a static page generator with <a href="http://foundation.zurb.com">Zurb Foundation</a>.

<p>The source (and website) are hosted on GitHub at <a href="https://github.com/rayfix/tomoda-me">https://github.com/rayfix/tomoda-me</a></p>

<h4>Making Changes</h4>

<p>To make changes to the site:</p>
<ul>
  <li>Signup with GitHub</li>
  <li>Fork the repository</li>
  <li>Make changes</li>
  <li>Test on local machine</li>
  <li>Submit pull request</li>
</ul>

<h4>Setting up your Local Machine</h4>

Clone the repository and follow the instructions in the <a href="https://github.com/rayfix/tomoda-me/blob/master/README.md">README</a> file.  

As of this writing, I am using:

<div class="panel">
<pre>
$ bundle exec middleman version
Middleman 3.1.6

$ ruby --version
ruby 2.1.2p95 (2014-05-08 revision 45877) [x86_64-darwin13.0]
</pre>
</div>
