---
title: 福井大学 子どものこころの発達研究センター Age2企画 研究室ＨＰにようこそ！
---

<div class="row">
  <div class="medium-6 columns">

    <h3 class="title">最新トピック</h3>

    <div class="row">
      <div class="small-9 columns">
    <ul class="plain-spaced">
      <li>現在、福井大学子どものこころの発達研究センターAge2企画では、学童期から青年期の「こころと脳の発達に関する調査」の参加者を募集しています。<a href="/resources/recruit_flyer.pdf">被験者募集案内</a></li>
      <li><a href="/resources/Koizumi_chirashi.pdf">被験者募集案内「こころの発達」検査</a></li>
      <li>8 歳から16 歳までの健康なお子さまを対象とした<a href="/resources/mizuno_chirashi.pdf">「脳MRI 撮影と心理発達検査」</a>被験者を急募中</li>
    </ul>
      </div>
      <div class="small-3 columns">
        <img src="/images/mother_child.png">
      </div>
    </div>  

    <h3 class="title">研究概要</h3>
    平成23年6月より本格的な活動を開始した当研究室は、以下の研究を遂行しています。
    <ul class="topspace plain-spaced">
      <li>永平寺町で出生した子どもの発達に関する追跡調査</li>
      <li>非侵襲的脳機能画像法を用いた発達障害患者の高次脳機能検査および遺伝子多型解析</li>
      <li><a href="http://ja.wikipedia.org/wiki/FMRI" target="other">fMRI</a>を用いた愛着障害の神経基盤の評価システム開発（本学高エネルギー医学研究センター、精神科との共同研究）</li>
      <li>児童虐待に代表される小児期のストレスが脳発達におよぼす影響と感受性期解析（米ハーバード大学精神科との共同研究）</li>
      <li>若者を対象としたメンタルヘルスに関する調査</li>
      <li>事象関連電位脳波を指標とした子どもの認知機能評価に関する研究（仁愛大学との共同研究）</li>
      <li>子どもの発達過程における運動機能の研究 (本学附属病院リハビリテーション部との共同研究)</li>
      <li>発達性トラウマ障害と自閉症スペクトラム障害の鑑別に関する研究</li>
      <li>発達性ディスレクシアの読みの能力と知的能力の関係に関する研究</li>
      <li>被虐待経験を有する非行少年の神経学的リカバリーメカニズムの解明に関する研究（東京福祉大学との共同研究）</li>
</ul>
  </div>
  <div class="medium-6 columns">
    <h3 class="title">著書の紹介</h3>

    <h5>子どものＰＴＳＤ</h5>
    <div class="row">
      <div class="small-9 columns">
    様々なケースの子どものPTSDについて，各分野のエキスパートが診断や治療など臨床での経験とともに最新の知見をわかりやすく解説．PTSDの概念から薬の使用についてなど，症例とともに詳述している．子どものこころの問題に関わるすべての方々に役立つ一冊．
      </div>
      <div class="small-3 columns">
            <img src="/images/210200.jpg" alt="子どものＰＴＳＤの表紙"/>
      </div>
    </div>

    <p>
    <a href="http://www.shindan.co.jp/books/index.php?menu=10&cd=210200&kbn=1" class="button success round right clearfix">子どものＰＴＳＤ</a>
    </p>
    <hr/>

    <h5>新版いやされない傷</h5>
    <p>
      <div class="row">
        <div class="small-9 columns">
    虐待による脳への影響をわかりやすくまとめた『いやされない傷』の新版．新たに厳格体罰，暴言虐待，両親間のDV目撃に関する新知見を，筆者の豊富なデータとともに追記し大幅増補した．発達障害と虐待との関わりについても言及し，子どもたちの脳とこころをケアし守っていくためには何が必要かを，本書を通して伝えている．医療従事者や地方自治体関係者，保育や学校関係者など，子どもたちと関わりをもつ全ての方に役立つ一冊．</p>
        </div>
        <div class="small-3 columns">
            <img src="/images/191200.jpg" alt="新版いやされない傷の表紙"/>
        </div>
      </div>

    <p>
    <a href="http://www.shindan.co.jp/books/index.php?menu=10&cd=191200&kbn=1" class="button success round right">新版いやされない傷</a>
    </p>
    <hr/>

    <h5>不登校外来</h5>
    <div class="row">
      <div class="small-9 columns">
不登校とは「こころの問題」，「怠け」などではない．小児慢性疲労症候群として理解すべきもので，中枢神経機能を中心とした“疲労病態”である．本書では“病態”としての不登校状態について，専門的な医療のかかわりの重要性を明らかにした．また，“眠育”という予防的観点からも不登校を解説する．小児科医，小児神経科医等に是非お読みいただきたい．『学校過労死』（1994，診断と治療社）に続く待望の一冊！
      </div>
      <div class="small-3 columns">
        <img src="/images/78781705.jpg" alt="不登校外来の表紙"/>
      </div>
    </div>
    <p>
    <a href="http://books.rakuten.co.jp/rb/6047087/" class="button success round right">不登校外来</a>
    </p>
  </div>
</div>




