---
title: ラボ・ミーティグ
---
<h3 class="title">ラボ・ミーティグ</h3>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<p><b>毎週水曜の夜にAge2企画院生ミーティングや発達脳機能イメージング部門・こころの発達開拓部門と合同ミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<ul class="plain-spaced">
  <li>Age2院生ミーティング：毎週水曜夕方18時から</li>
  <li>合同ミーティング：不定期に水曜夕方18時から</li>
</ul>
</p>

</div>
</div>


<p><b>この他、以下のようなミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<ul class="plain-spaced">
  <li>社会行動研究会：坂野仁ラボ（医学部高次脳機能）と松崎ラボ（こころの形成発達研究部門）との合同勉強会は不定期に火曜夕方18時から開催しています。
  <li><a href="http://ja.wikipedia.org/wiki/拡散テンソル画像" target="wikipedia">DTI</a>ミーティング：不定期に木曜の夕方18時から</li>
</ul>

</p>
</div>
</div>

<h4>ミーティングの予定</h4>
<table>
<tr>
<td>1/7（水）</td><td> 17：00〜</td><td>合同ミーティング</td></tr>
<tr>
<td>1/8（木）</td><td> 18：00〜</td><td>DTI meeting</td></tr>
<tr>
<td>1/14（水）</td><td>18：00〜</td><td>Age2ミーティング + 新年会（ダモンデ)</td></tr>
<tr>
<td>1/21（水）</td><td>18：00〜</td><td>Age2ミーティング</td></tr>
<tr>
<td>1/28（水）</td><td>18：00〜</td><td>Age2ミーティング</td></tr>
<tr>
<td>2/5（木）</td><td>18：30〜</td><td>RAD研究発表会</td></tr>
<tr>
<td>2/10（火）</td><td>18：00〜</td><td>社会行動研究会セミナー：牧之段 学先生　奈良県立医科大学</td></tr>
</table>

</div>
</div>