---
title: ラボ・ミーティグ
---

<h3 class="title">ラボ・ミーティグ</h3>

<div class="row">
  <div class="medium-6 columns">
    <img alt="Lab meeting picture 1."  src="/images/CIMG1722.jpeg"/>
  </div>
  <div class="medium-6 columns">
    <img alt="Lab meeting picture 2."  src="/images/CIMG1723.jpeg"/>
  </div>
</div>


<p/>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<p><b>毎週水曜の夜にAge2企画院生ミーティングや発達脳機能イメージング部門・こころの発達開拓部門と合同ミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<ul class="plain-spaced">
  <li>Age2院生ミーティング：毎週水曜夕方18時から</li>
  <li>合同ミーティング：不定期に水曜夕方18時から</li>
</ul>
</p>

</div>
</div>


<p><b>この他、以下のようなミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<ul class="plain-spaced">
  <li>社会行動研究会：坂野仁ラボ（医学部高次脳機能）と松崎ラボ（こころの形成発達研究部門）との合同勉強会は不定期に火曜夕方18時から開催しています。
  <li><a href="http://ja.wikipedia.org/wiki/拡散テンソル画像" target="wikipedia">DTI</a>ミーティング：不定期に木曜の夕方18時から</li>
</ul>

</p>
</div>
</div>

<h4>ミーティングの予定</h4>
<table>

<tr><td>9/2 (水)</td><td>17:00~</td><td>D1発表会（水野先生）</td></tr>
<tr><td>9/9 (水)</td><td>18:00~</td><td>Age2院生ミーティング</td></tr>
<tr><td>9/14 (月)</td><td>18:00~</td><td>社会行動研究会（京大・霊長類研　正高信男教授）</td></tr>
<tr><td>9/15 (火)</td><td>17:15~</td><td>D1発表会（水野先生、岩堀先生）</td></tr>
<tr><td>9/16 (水)</td><td>16:00~</td><td>合同ミーティング</td></tr>
<tr><td>9/24 (木)</td><td>18:00~</td><td>DTIミーティング</td></tr>
<tr><td>9/30 (水)</td><td colspan="2">日本児童青年期精神医学会（横浜）</td></tr>

</table>

<p><a href="previous_lab_meeting.html">以前のミーティング</a></p>

</div>
</div>