---
title: ラボ・ミーティグ
---

<h3 class="title">ラボ・ミーティグ</h3>

<div class="row">
  <div class="medium-6 columns">
    <img alt="Lab meeting picture 1."  src="/images/CIMG1722.jpeg"/>
  </div>
  <div class="medium-6 columns">
    <img alt="Lab meeting picture 2."  src="/images/CIMG1723.jpeg"/>
  </div>
</div>


<p/>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<p><b>毎週水曜夕方に発達支援研究 院生ミーティングや情動認知発達研究部門との合同ミーティングを開催しています。</b></p>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<ul class="plain-spaced">
  <li>院生ミーティング：毎週水曜夕方17時から</li>
  <li>合同ミーティング：不定期に水曜夕方17時から</li>
</ul>
</p>

</div>
</div>


<p><b>この他、以下のようなミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<ul class="plain-spaced">
  <li>社会行動研究会：坂野仁ラボ（医学部高次脳機能）と松崎ラボ（こころの形成発達研究部門）との合同勉強会は不定期に火曜夕方18時から開催しています。
  <li><a href="http://ja.wikipedia.org/wiki/拡散テンソル画像" target="wikipedia">DTI</a>ミーティング：不定期に木曜の夕方18時から</li>
</ul>

</p>
</div>
</div>

<h4>ミーティングの予定</h4>
<table>
<tr><td>5/11 (水)</td><td>17:00〜</td><td>合同ミーティング</td></tr>
<tr><td>5/18 (水)</td><td>19:00〜</td><td>谷池先生講演会</td></tr>
<tr><td>5/25 (水)</td><td>17:00〜</td><td>合同ミーティング</td></tr>
<tr><td>6/1 (水)</td><td>17:00〜</td><td>合同ミーティング</td></tr>
<tr><td>6/8 (水)</td><td>17:00〜</td><td>ラボミーティング</td></tr>
<tr><td>6/15 (水)</td><td>17:00〜</td><td>ラボミーティング</td></tr>
<tr><td>6/22 (水)</td><td>17:00〜</td><td>ラボミーティング</td></tr>
<tr><td>6/29 (水)</td><td>17:00〜</td><td>ラボミーティング</td></tr>
<tr><td>7/6 (水)</td><td>17:00〜</td><td>ラボミーティング</td></tr>
<tr><td>7/13 (水)</td><td>17:00〜</td><td>暑気払い</td></tr>
</table>

<p><a href="previous_lab_meeting.html">以前のミーティング</a></p>

</div>
</div>