---
title: ラボ・ミーティグ
---

<h3 class="title">ラボ・ミーティグ</h3>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<p><b>毎週水曜の夜にAge2企画院生ミーティングや発達脳機能イメージング部門・こころの発達開拓部門と合同ミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<ul class="plain-spaced">
  <li>Age2院生ミーティング：毎週水曜夕方18時から</li>
  <li>合同ミーティング：不定期に水曜夕方18時から</li>
</ul>
</p>

</div>
</div>


<p><b>この他、以下のようなミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<ul class="plain-spaced">
  <li>社会行動研究会：坂野仁ラボ（医学部高次脳機能）と松崎ラボ（こころの形成発達研究部門）との合同勉強会は不定期に火曜夕方18時から開催しています。
  <li><a href="http://ja.wikipedia.org/wiki/拡散テンソル画像" target="wikipedia">DTI</a>ミーティング：不定期に木曜の夕方18時から</li>
</ul>

</p>
</div>
</div>

<h4>ミーティングの予定</h4>
<table>
<tr>
<tr>
<td>3/11（水）</td><td>17：00〜</td><td>松浦先生第2回セミナー＋合同ミーティング</td></tr>
<tr>
<td>3/18（水）</td><td>13：00〜</td><td> 子どもセンター研究発表会（臨床教育研修センター２階 白翁会ホール）</td></tr>
<tr>
<td>3/19 （木）</td><td>19：00〜</td><td>  脳波てんかん勉強会（小児科病棟: 西3階 カンファレンス室）</td></tr>
<tr>
<td>3/25（水）</td><td>18：00〜</td><td> Age2ミーティング</td></tr>

<tr>
<td>4/8（水）</td><td>19：30〜 </td><td>合同ミーティングセミナー<br/>
友田： 総論、RAD、小児のPTSD <br/>
小坂： 総論、オキシトシン研究
</td></tr>
<tr>
<td>4/15（水）</td><td> 19：30〜</td><td> 合同ミーティングセミナー<br/>
齋藤： MR研究の注意点、データ保管方法<br/>
島田： 脳画像研究概論
</td></tr>
<tr>
<td>4/22（水）</td><td>  19：30〜 </td><td>合同ミーティングセミナー<br/>
藤澤： オキシトシンやコルチゾール濃度測定、SNP、miRNA<br/>
熊崎： ASD総論、ASD嗅覚研究、ASDロボット研究
</td></tr>
<tr>
<td>5/13（水）</td><td>  19：30〜 </td><td>合同ミーティングセミナー<br/>
岡本： 実験計画の立て方、被験者の個人情報取り扱いの留意点<br/>
藤岡： 小児の心理評価スケール、GazeFinder
</td></tr>
<tr>
<td>5/20（水）</td><td>  19：30〜 </td><td>合同ミーティングセミナー<br/>
小泉： 表情認知課題、EndNoteの使い方<br/>
丁： rs-fMRI
</td></tr>
</table>

<p><a href="previous_lab_meeting.html">以前のミーティング</a></p>

</div>
</div>