---
title: ラボ・ミーティグ
---

<h3 class="title">ラボ・ミーティグ</h3>

<div class="row">
  <div class="medium-6 columns">
    <img alt="Lab meeting picture 1."  src="/images/CIMG1722.jpeg"/>
  </div>
  <div class="medium-6 columns">
    <img alt="Lab meeting picture 2."  src="/images/CIMG1723.jpeg"/>
  </div>
</div>


<p/>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<p><b>毎週水曜の夜にAge2企画院生ミーティングや発達脳機能イメージング部門・こころの発達開拓部門と合同ミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<ul class="plain-spaced">
  <li>Age2院生ミーティング：毎週水曜夕方18時から</li>
  <li>合同ミーティング：不定期に水曜夕方18時から</li>
</ul>
</p>

</div>
</div>


<p><b>この他、以下のようなミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<ul class="plain-spaced">
  <li>社会行動研究会：坂野仁ラボ（医学部高次脳機能）と松崎ラボ（こころの形成発達研究部門）との合同勉強会は不定期に火曜夕方18時から開催しています。
  <li><a href="http://ja.wikipedia.org/wiki/拡散テンソル画像" target="wikipedia">DTI</a>ミーティング：不定期に木曜の夕方18時から</li>
</ul>

</p>
</div>
</div>

<h4>ミーティングの予定</h4>
<table>
<tr>
<td>4/14日(火)</td><td>18:00~</td><td>社会行動研究会</td></tr>

<td>4/15（水）</td><td> 19：30〜</td><td> 合同ミーティングセミナー<br/>
齋藤： MR研究の注意点、データ保管方法<br/>
島田： 脳画像研究概論
</td></tr>
<tr>
<td>4/22（水）</td><td>  19：30〜 </td><td>合同ミーティングセミナー<br/>
藤澤： オキシトシンやコルチゾール濃度測定、SNP、miRNA<br/>
熊崎： ASD総論、ASD嗅覚研究、ASDロボット研究
</td></tr>

<td>4/23日(木)</td><td> 18:00~</td><td>DTIミーティング</td></tr>

<td>4/24日(金)</td><td> 18:30~</td><td>福井子どものこころの研究会（県立病院2階会議室</td></tr>）

<tr>
<td>5/13（水）</td><td>  19：30〜 </td><td>合同ミーティングセミナー<br/>
岡本： 実験計画の立て方、被験者の個人情報取り扱いの留意点<br/>
藤岡： 小児の心理評価スケール、GazeFinder
</td></tr>
<tr>
<td>5/20（水）</td><td>  19：30〜 </td><td>合同ミーティングセミナー<br/>
小泉： 表情認知課題、EndNoteの使い方<br/>
丁： rs-fMRI
</td></tr>

<td>5/22日(金)</td><td>18:00~</td><td>連合大学院D３発表会</td></tr>

<td>5/25日(月)</td><td>18:00~</td><td>連合大学院D３発表会</td></tr>

<td>5/27日(水)</td><td colspan="2">Age2院生ミーティング休み（日本小児神経学会参加者多数のため</td></tr>

<td>6/3日(水)</td><td>18:00~</td><td>Age2院生ミーティング</td></tr>

<td>6/9日(火) </td><td>18:00~</td><td>社会行動研究会</td></tr>

<td>6/10日(水)</td><td>18:00~</td><td>Age2院生ミーティング</td></tr>

<td>6/17日(水)</td><td colspan="2">Age2院生ミーティング休み（OHBM学会参加者多数のため）</td></tr>

<td>6/24日(水)</td><td>18:00~</td><td>Age2院生ミーティング</td></tr>

<td>6/30日(火)</td><td>18:00~</td><td>連合大学院D２発表会</td></tr>

<td>7/1日(水)</td><td>18:00~</td><td>Age2院生ミーティング（予定）</td></tr>

<td>7/8日(水)</td><td>18:00~</td><td>暑気払いミーティング（予定）</td></tr>

</table>

<p><a href="previous_lab_meeting.html">以前のミーティング</a></p>

</div>
</div>