---
title: ラボ・ミーティグ
---

<h3 class="title">ラボ・ミーティグ</h3>

<div class="row">
  <div class="medium-6 columns">
    <img alt="Lab meeting picture 1."  src="/images/CIMG1722.jpeg"/>
  </div>
  <div class="medium-6 columns">
    <img alt="Lab meeting picture 2."  src="/images/CIMG1723.jpeg"/>
  </div>
</div>


<p/>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<p><b>毎週水曜の夜にAge2企画院生ミーティングや発達脳機能イメージング部門・こころの発達開拓部門と合同ミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<ul class="plain-spaced">
  <li>Age2院生ミーティング：毎週水曜夕方18時から</li>
  <li>合同ミーティング：不定期に水曜夕方18時から</li>
</ul>
</p>

</div>
</div>


<p><b>この他、以下のようなミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<ul class="plain-spaced">
  <li>社会行動研究会：坂野仁ラボ（医学部高次脳機能）と松崎ラボ（こころの形成発達研究部門）との合同勉強会は不定期に火曜夕方18時から開催しています。
  <li><a href="http://ja.wikipedia.org/wiki/拡散テンソル画像" target="wikipedia">DTI</a>ミーティング：不定期に木曜の夕方18時から</li>
</ul>

</p>
</div>
</div>

<h4>ミーティングの予定</h4>
<table>
<tr><td>9/24 (木)</td><td>18:00~</td><td>DTIミーティング</td></tr>
<tr><td>9/30 (水)</td><td colspan="2">日本児童青年期精神医学会（横浜）でミーティング休み</td></tr>
<tr><td>10/6 (水)</td><td>18:00~</td><td>社会行動研究会（ユトレヒト大学・小黒-安藤麻美先生のセミナー）</td></tr>
<tr><td>10/7 (水)</td><td>18:00~</td><td>Age2院生ミーティング</td></tr>
<tr><td>10/14 (水)</td><td>18:00~</td><td>Age2院生ミーティング</td></tr>
<tr><td>10/21 (水)</td><td>18:00~</td><td>合同ミーティング</td></tr>
<tr><td>10/22 (木)</td><td>18:00~</td><td>DTIミーティング</td></tr>
<tr><td>10/28 (水)</td><td>18:00~</td><td>Age2院生ミーティング</td></tr>
<tr><td>11/28 (水)</td><td>13:00~</td><td>子どものこころの発達研究センター講演会（筑波大学　宮本信也先生、福井大　松木先生)</td></tr>
</table>

<p><a href="previous_lab_meeting.html">以前のミーティング</a></p>

</div>
</div>