---
title: ラボ・ミーティグ
---
<h3 class="title">ラボ・ミーティグ</h3>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<p><b>毎週水曜の夜にAge2企画院生ミーティングや発達脳機能イメージング部門・こころの発達開拓部門と合同ミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<ul class="plain-spaced">
  <li>Age2院生ミーティング：毎週水曜夕方18時から</li>
  <li>合同ミーティング：不定期に水曜夕方18時から</li>
</ul>
</p>

</div>
</div>


<p><b>この他、以下のようなミーティングを開催しています。</b>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<ul class="plain-spaced">
  <li>社会行動研究会：坂野仁ラボ（医学部高次脳機能）と松崎ラボ（こころの形成発達研究部門）との合同勉強会は不定期に火曜夕方18時から開催しています。
  <li><a href="http://ja.wikipedia.org/wiki/拡散テンソル画像" target="wikipedia">DTI</a>ミーティング：不定期に木曜の夕方18時から</li>
</ul>

</p>
</div>
</div>

<h4>ミーティングの予定</h4>
<table>
<tr>
<td>11月26日(水) １８：３０〜</td><td>Age2ミーティング</td></tr>
<tr>
<td>12月3日(水) １８：００〜</td><td>Age2ミーティング</td></tr>
<tr>
<td>12月10日(水) １８：００〜</td><td>合同ミーティング（年内最後）</td></tr>
<tr>
<td>12月17日(水) １８：００〜</td><td>おでん忘年会</td></tr>
<tr>
<td>12月18日(木) １８：００〜</td><td>DTIミーティング（年内最後）</td></tr>
<tr>
<td>12月19日(金) １８：００〜</td><td>社会行動研究会（年内最後）</td></tr>
<tr>
<td>1月7日（水）１７：００〜</td><td> 合同ミーティング+ 新年会（場所未定）</td></tr>
</table>

</div>
</div>