---
title: 関連サイト
---
<h3 class="title">関連サイト</h3>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<ul class="plain-spaced">

  <li> 
  <a href="https://www.hosp.u-fukui.ac.jp/department/child-and-adolescent-psychological-medicine/" target="other">福井大学医学部附属病院「子どものこころ診療部」</a>は、平成23年10月に新設しました。子どものこころの問題の診断・治療を専門とする、全国でも数少ない医療機関です。小児科・神経科精神科と連携し、発達障害を始めとした「子どものこころのひずみ」とそれに伴う諸症状を解明することにより、こころの危機的状況にある子どもを救出し、支援することを目指しています。<a target="article" href="/resources/Frontier_2016_new.pdf">診療部紹介</a>
  </li>

  <li><a href="http://www.med.u-fukui.ac.jp/cdrc/welcome.html">福井大学子どものこころの発達研究センター</a></li>

  <li><a href="https://sites.google.com/view/fukui-ikusei">児童青年期こころの専門医育成部門</a></li>

  <li><a href="http://www.med.u-fukui.ac.jp/ugscd/">連合小児発達学研究科　福井校</a>
<p><a href="/resources/Fukuikou_shoukai.pdf"><img width="150px" src="/images/Fukuikou_shoukai.png" /></a></p>

  </li>

  <li><a href="http://parent-supporters.brain.riken.jp/index.html">JST・RISTEX　「安全な暮らしをつくる新しい公／私空間の構築」研究開発領域<br/>
「養育者支援によって子どもの虐待を低減するシステムの構築」</a>
  </li>

  <li>
    <a href="resources/SENSHIN_2016.pdf" target="other">医療情報誌SENSHIN記事</a>
  </li>
</ul>

<img src="/images/team_picture_2018.JPG" alt="診療部の写真">
<p/>

</div>
</div>