---
title: ニュース
---
<h3 class="title">ニュース</h3>

<div class="row">
  <div class="medium-offset-2 medium-7 columns">

<ol class="spaced">
  <li>
<a href="http://www.iepaconference.org">国際早期精神病学会</a>で熊崎特命助教と小泉研究員が発表します。
  <div class="panel">
  <pre>
<b>会 期</b>
平成26年11月17日(月)～19日(水)
9th International Conference on Early Psychosis 
Keio Plaza Hotel, Tokyo, Japan
  </pre>
  </div>
  </li>

  <li>
      <a href="http://jsfbs.com">第41回日本脳科学会大会</a>で 青井院生、新井院生、丁院生、水島院生が発表します。
      <div class="panel">
      <pre>
<b>会 期</b>
平成26年11月22日（土）～23日（日）
大会テーマ
子どものこころを理解する
<a href="http://jsfbs.com/the-41st-time/doc/program_41-3.pdf">プログラム</a>
      </pre>
      </div>
  </li>

<li>
<a href="http://jsfbs.com/the-41st-time/doc/shiminkouza1017.pdf">第41回日本脳科学会大会市民公開講座</a>が11月23日(日)に開催されます。

<div class="panel">
<pre>
福井県県民ホール
〒910-0858福井県福井市手寄1-4-1　アオッサ8階
</pre>
</li>

<li>
<a target="other" href="/resources/nanaoshi_koen.pdf">医療分野におけるネットワーク会議講演会</a>(石川県健康福祉部少子化対策監室)  
11月15日(土)　七尾市
</li>

<li><a href="http://scienceportal.jp/columns/opinion/20130628_01.html" target="other">サイエンス・ポータルのコラム - オピニオン</a></li>

<li>研究成果「ＤＶ目撃経験者の脳視覚野萎縮」<a href="/resources/Nikkei_kiji.pdf" target="article">日経新聞記事</a></li>
<li>研究成果「ADHD治療薬の長期投与による報酬感受性の改善効果を解明」！<a href="/resources/2013_NeuroImageClinic.pdf">フレスリリース</a></li>

</ol>

  </div>
</div>
