---
title: ニュース
---
<h3 class="title">ニュース</h3>

<div class="row">
  <div class="medium-offset-2 medium-7 columns">

<ol class="spaced">

<li><a href="resources/6-16-2015_ISBS_KOBE_2015_Pre_Final_Program.pdf">第38回神経科学会のサテライトシンポジウム：6th International Regional (Asia) ISBS Neuroscience and Biological Psychiatry “Stress and Behavior” Conference が神戸（July 26-27, 2015）で開催されました。</a></li>

<li><a href="/resources/Fujisawa_20150822YOMIURI.pdf">藤澤講師の研究成果記事が読売新聞に掲載されました（Aug 24, 2015） １０代拒食症女性、脳が小さく…欲求制御の部位</a></li>

<li>科学技術振興機構　社会技術研究開発センター（RISTEX）の「安全な暮らしをつくる新しい公／私空間の構築」研究開発領域平成２７年度採択課題「養育者支援によって子どもの虐待低減をめざすシステムの構築」キックオフシンポジウムが東京（Dec 20, 2015）で開催されました。</li>

<li>NHKクローズアップ現代で私たちの研究が紹介されました。<br/><a href="http://www.nhk.or.jp/gendai/kiroku/detail02_3613_all.html">http://www.nhk.or.jp/gendai/kiroku/detail02_3613_all.html</a></li>

<li><a href="/resources/yahoo_article_2015_4_30.pdf" target="other">虐待で「脳が傷つく」衝撃データ2割近い萎縮も〈ＡＥＲＡ〉</a>||| <a href="/resources/AERA_2015_web_page.pdf" target="other">原稿のみ</a></li>

<li><a href="/resources/science_portal_opinion.pdf" target="other">サイエンス・ポータルのコラム - オピニオン</a></li>

<li><a href="/resources/recsite_rec_science.pdf" target="other">日本レクリエーション協会　記事</a></li>

<li>
  2月5日(木)と3月11日(水)にRAD研究発表会を開催しました。
  <br/>（プログラム）
<table>
<tr><td nowrap>18時20分 〜 19時10分</td><td nowrap>松浦先生のセミナー「エビデンスから見た少年非行、矯正教育」</td></tr>

<tr><td>19時15分 〜 19時30分</td><td>武市幸子先生の「症例報告」</td></tr>

<tr><td>19時30分 〜 20時 </td><td>水島D2院生  RAD-fMRI研究発表</td></tr>
<tr><td>20時 〜 20時30分</td><td>滝口D3院生  RAD-fMRI研究発表</td></tr>
<tr><td>20時30分 〜 21時</td><td>島田先生 RAD-VBM研究発表</td></tr>
</table>
</li>

<li>学内セミナー(大学院セミナー)を開催しました。
<pre>
　日時：平成２７年７月２日（木）１８：００〜２０：００
　会場：松岡キャンパス　院生棟１階　セミナー室
　演題：「注意欠如・多動症 (ADHD)の神経科学研究」
　演者：Jeff Wickens教授　Gail Tripp教授
　　　　（沖縄科学技術大学院大学(OIST))
  <a href="/resources/prof_wickens_abstract.pdf" target="other">Jeff Wickens教授のアブストラクト</a>
  <a href="/resources/prof_tripp_abstract.pdf" target="other">Gail Tripp教授のアブストラクト</a>
</pre>
</li>

</ol>

  </div>
</div>
