---
title: ニュース
---
<h3 class="title">ニュース</h3>

<div class="row">
  <div class="medium-offset-2 medium-7 columns">

<ol class="spaced">

<li>
  <b>2月5日（木）18：20〜 RAD研究発表会が開催されました。松浦先生の 第2回セミナーは3月11日(水)17時から開催されます。</b>
  <br/>（プログラム）
<table>
<tr><td nowrap>18時20分 〜 19時10分</td><td nowrap>松浦先生のセミナー「エビデンスから見た少年非行、矯正教育」</td></tr>

<tr><td>19時15分 〜 19時30分</td><td>武市幸子先生の「症例報告」</td></tr>

<tr><td>19時30分 〜 20時 </td><td>水島D2院生  RAD-fMRI研究発表</td></tr>
<tr><td>20時 〜 20時30分</td><td>滝口D3院生  RAD-fMRI研究発表</td></tr>
<tr><td>20時30分 〜 21時</td><td>島田先生 RAD-VBM研究発表</td></tr>
</table>
</li>

<li><a href="http://scienceportal.jp/columns/opinion/20130628_01.html" target="other">サイエンス・ポータルのコラム - オピニオン</a></li>

<li>NHKクローズアップ現代で私たちの研究が紹介されました。<a href="http://www.nhk.or.jp/gendai/kiroku/detail_3613.html">http://www.nhk.or.jp/gendai/kiroku/detail_3613.html</a></li>

<!--
<li>
  小島雅彦院生の学位審査のための研究発表会（公聴会）が開催されます。開催日時：　１２月２５日（木）１５：３０〜<br/>
  <a href="/resources/gakuishinsa_12_2014.pdf">研究発表会(公聴会)の開催について</a>
</li>

<li>平成26年度脳科学研究教育センターシンポジウム「認知のダイナミクス～認知システムの動態を探る～」で口演発表します。
<a href="http://www.hokudai.ac.jp/recbs/common/images/poster2014.pdf" target="other">http://www.hokudai.ac.jp/recbs/common/images/poster2014.pdf</a>
</li>

<li>
滝口院生が包括脳ネットワーク「冬のシンポジウム」でポスター発表します。
<a href="https://www.hokatsu-nou.nips.ac.jp/index.php?key=joslxzlae-1191">https://www.hokatsu-nou.nips.ac.jp/index.php?key=joslxzlae-1191</a>
</li>
-->

</ol>

  </div>
</div>
