---
title: ニュース
---
<h3 class="title">ニュース</h3>

<div class="row">
  <div class="medium-offset-2 medium-7 columns">

<ol class="spaced">
<li>
  小島雅彦院生の学位審査のための研究発表会（公聴会）が開催されます。開催日時：　１２月２５日（木）１５：３０〜<br/>
  <a href="/resources/gakuishinsa_12_2014.pdf">研究発表会(公聴会)の開催について</a>
</li>

<li>平成26年度脳科学研究教育センターシンポジウム「認知のダイナミクス～認知システムの動態を探る～」で口演発表します。
<a href="http://www.hokudai.ac.jp/recbs/common/images/poster2014.pdf" target="other">http://www.hokudai.ac.jp/recbs/common/images/poster2014.pdf</a>
</li>

<li>
滝口院生が包括脳ネットワーク「冬のシンポジウム」でポスター発表します。
<a href="https://www.hokatsu-nou.nips.ac.jp/index.php?key=joslxzlae-1191">https://www.hokatsu-nou.nips.ac.jp/index.php?key=joslxzlae-1191</a>
</li>

<li><a href="http://scienceportal.jp/columns/opinion/20130628_01.html" target="other">サイエンス・ポータルのコラム - オピニオン</a></li>

</ol>

  </div>
</div>
