---
title: 以前のラボ・ミーティグ
---
<h3 class="title">以前のラボ・ミーティグ</h3>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">

<table>
<tr>
<td>1/7（水）</td><td> 17：00〜</td><td>合同ミーティング</td></tr>
<tr>
<td>1/8（木）</td><td> 18：00〜</td><td>DTI meeting</td></tr>
<tr>
<td>1/14（水）</td><td>18：00〜</td><td>Age2ミーティング + 新年会（ダモンデ)</td></tr>
<tr>
<td>1/21（水）</td><td>18：00〜</td><td>Age2ミーティング</td></tr>
<tr>
<td>1/22（木）</td><td>19：00〜</td><td>脳波てんかん勉強会（小児科病棟: 西3階   カンファレンス室）</td></tr>
<tr>
<td>1/27（火）</td><td>18：00〜</td><td>社会行動研究会セミナー：群馬大学の定方哲史先生と滋賀医大の中谷仁先生</td></tr>
<tr>
<td>1/28（水）</td><td>17：00〜</td><td>合同ミーティング</td></tr>
<tr>
<td>2/2（月）</td><td>19：00〜</td><td>子どものこころ診療部スタッフミーティング</td></tr>
<tr>
<td>2/4（水）</td><td>お休み</td><td>（演習実習と重なるため）</td></tr>
<tr>
<td>2/5（木）</td><td>18：30〜</td><td>RAD研究発表会</td></tr>
<tr>
<td>2/10（火）</td><td>18：00〜</td><td>社会行動研究会セミナー：牧之段 学先生　奈良県立医科大学</td></tr>
<tr>
<td>2/18（水）</td><td>18：00〜</td><td>Age2ミーティング</td></tr>
<tr>
<td>2/19（木）</td><td>18：00〜</td><td>DTI meeting</td></tr>
<tr>
<td>2/25（水）</td><td>17：00〜</td><td>合同ミーティング
<tr>
<td>2/26 （木）</td><td>19：00〜</td><td>  脳波てんかん勉強会（小児科病棟: 西3階 カンファレンス室）</td></tr>
<tr>
<td>3/4（水）</td><td>18：00〜</td><td> Age2ミーティング</td></tr>

</table>

</div>
</div>