---
title: 以前のラボ・ミーティグ
---
<h3 class="title">以前のラボ・ミーティグ</h3>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">


<h4>2015</h4>
<table>
<tr>
<td>1/7（水）</td><td> 17：00〜</td><td>合同ミーティング</td></tr>
<tr>
<td>1/8（木）</td><td> 18：00〜</td><td>DTI meeting</td></tr>
<tr>
<td>1/14（水）</td><td>18：00〜</td><td>Age2ミーティング + 新年会（ダモンデ)</td></tr>
<tr>
<td>1/21（水）</td><td>18：00〜</td><td>Age2ミーティング</td></tr>
<tr>
<td>1/22（木）</td><td>19：00〜</td><td>脳波てんかん勉強会（小児科病棟: 西3階   カンファレンス室）</td></tr>
<tr>
<td>1/27（火）</td><td>18：00〜</td><td>社会行動研究会セミナー：群馬大学の定方哲史先生と滋賀医大の中谷仁先生</td></tr>
<tr>
<td>1/28（水）</td><td>17：00〜</td><td>合同ミーティング</td></tr>
<tr>
<td>2/2（月）</td><td>19：00〜</td><td>子どものこころ診療部スタッフミーティング</td></tr>
<tr>
<td>2/4（水）</td><td>お休み</td><td>（演習実習と重なるため）</td></tr>
<tr>
<td>2/5（木）</td><td>18：30〜</td><td>RAD研究発表会</td></tr>
<tr>
<td>2/10（火）</td><td>18：00〜</td><td>社会行動研究会セミナー：牧之段 学先生　奈良県立医科大学</td></tr>
<tr>
<td>2/18（水）</td><td>18：00〜</td><td>Age2ミーティング</td></tr>
<tr>
<td>2/19（木）</td><td>18：00〜</td><td>DTI meeting</td></tr>
<tr>
<td>2/25（水）</td><td>17：00〜</td><td>合同ミーティング
<tr>
<td>2/26 （木）</td><td>19：00〜</td><td>  脳波てんかん勉強会（小児科病棟: 西3階 カンファレンス室）</td></tr>
<tr>
<td>3/4（水）</td><td>18：00〜</td><td> Age2ミーティング</td></tr>
<tr>
<td>3/11（水）</td><td>17：00〜</td><td>松浦先生第2回セミナー＋合同ミーティング</td></tr>
<tr>
<td>3/18（水）</td><td>13：00〜</td><td> 子どもセンター研究発表会（臨床教育研修センター２階 白翁会ホール）</td></tr>
<tr>
<td>3/19 （木）</td><td>19：00〜</td><td>  脳波てんかん勉強会（小児科病棟: 西3階 カンファレンス室）</td></tr>
<tr>
<td>4/1（水）</td><td>17：30〜</td><td>連合小児発達学研究科福井校入学ガイダンス＋親睦会</td></tr>

<tr>
<td>4/8（水）</td><td>19：30〜 </td><td>合同ミーティングセミナー<br/>
友田： 総論、RAD、小児のPTSD <br/>
小坂： 総論、オキシトシン研究
</td></tr>
<td>4/14 (火)</td><td>18:00〜</td><td>社会行動研究会</td></tr>

<tr>
<td>4/15（水）</td><td> 19：30〜</td><td> 合同ミーティングセミナー<br/>
齋藤： MR研究の注意点、データ保管方法<br/>
島田： 脳画像研究概論
</td></tr>

<tr>
<td>4/22（水）</td><td>  19：30〜 </td><td>合同ミーティングセミナー<br/>
藤澤： オキシトシンやコルチゾール濃度測定、SNP、miRNA<br/>
丁： rs-fMRI
</td></tr>

<tr>
<td>4/23 (木)</td><td> 18:00〜</td><td>DTIミーティング</td></tr>

<tr>
<td>4/24 (金)</td><td> 18:30〜</td><td>福井子どものこころの研究会（県立病院2階会議室)</td></tr>

<tr>
<td>5/13（水）</td><td>  18：00〜 </td><td>合同ミーティング<br/>
連合大学院D３発表予演
</td></tr>
<tr>
<td>5/20（水）</td><td>  18：00〜 </td><td>合同ミーティング<br/>
連合大学院D３発表予演
</td></tr>

<tr>
<td>5/21 (木)</td><td>  18:00〜 </td><td> DTIミーティング</td></tr>

<tr>
<td>5/22 (金)</td><td>18:00〜</td><td>連合大学院D３発表会</td></tr>

<tr>
<td>5/25 (月)</td><td>18:00〜</td><td>連合大学院D３発表会</td></tr>

<tr>
<td>5/27 (水)</td><td colspan="2">Age2院生ミーティング休み（日本小児神経学会参加者多数のため)</td></tr>

<tr>
<td>6/3 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>

<tr>
<td>6/10 (水)</td><td>18:00〜</td><td>合同ミーティングセミナー<br/>
小泉： 表情認知課題、EndNoteの使い方<br/>
熊崎： ASD総論、ASD嗅覚研究、ASDロボット研究</td></tr>

<tr>
<td>6/17 (水)</td><td>17:30〜<br/>19:00〜<br/>20:00〜<br/></td><td>合同ミーティング<br/>Webセミナー（佐々木 剛先生)<br/>永平寺町の蛍観賞ミーティング<br/></td></tr>

<tr>
<td>6/24 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>

<tr>
<td>6/30 (火)</td><td>18:00〜</td><td>連合大学院D２発表会</td></tr>

<tr>
<td>7/1 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>

<tr>
<td>7/8 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>

<tr>
<td>7/15 (水)</td><td>17:00〜<br/>18:00〜<br/>19:00〜</td><td>松浦先生医学統計セミナー（重回帰分析+2要因分散分析）<br/>
社会行動研究会（新潟大・江川純先生）<br/>暑気払いミーティング</td></tr>

<tr><td>7/29 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>

<tr><td>8/19 (水)</td><td> 18:00〜</td><td>Age2院生ミーティング</td></tr>

<tr><td>8/20 (木)</td><td> 18:00〜</td><td>DTIミーティング</td></tr>

<tr><td>8/26 (水)</td><td>18:00〜</td><td>合同ミーティング</td></tr>

<tr><td>9/2 (水)</td><td>17:00〜</td><td>D1発表会</td></tr>
<tr><td>9/9 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>
<tr><td>9/14 (月)</td><td>18:00〜</td><td>社会行動研究会（京大・霊長類研　正高信男教授）</td></tr>
<tr><td>9/15 (火)</td><td>17:15〜</td><td>D1発表会（水野先生、岩堀先生）</td></tr>
<tr><td>9/16 (水)</td><td>16:00〜</td><td>合同ミーティング</td></tr>

<tr><td>9/24 (木)</td><td>18:00〜</td><td>DTIミーティング</td></tr>
<tr><td>9/30 (水)</td><td colspan="2">日本児童青年期精神医学会（横浜）でミーティング休み</td></tr>
<tr><td>10/6 (水)</td><td>18:00〜</td><td>社会行動研究会（ユトレヒト大学・小黒-安藤麻美先生のセミナー）</td></tr>
<tr><td>10/7 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>
<tr><td>10/14 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>
<tr><td>10/15 (木)</td><td>18:00〜</td><td>DTIミーティング</td></tr>
<tr><td>10/21 (水)</td><td>18:00〜</td><td>合同ミーティング</td></tr>
<tr><td>10/28 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>
<tr><td>11/4(水)</td><td>19:00〜</td><td>福井県ADHD学術講演会（水野先生、島田先生、門田行史先生）</td><tr>
<tr><td>11/11 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>
<tr><td>11/18 (水)</td><td>18:00〜</td><td>合同ミーティング</td></tr>
<tr><td>11/25 (水)</td><td>18:00〜</td><td>Age2院生ミーティング</td></tr>
<tr><td>11/26 (木)</td><td>18:00〜</td><td>DTIミーティング</td></tr>
<tr><td>11/28 (土)</td><td>13:00〜</td><td>子どものこころの発達研究センター講演会（筑波大学　宮本信也先生、福井大　松木先生)</td></tr>
<tr><td>12/2 (水)</td><td>17:00〜</td><td>合同ミーティング</td></tr>
<tr><td>12/9 (水)</td><td>17:00〜</td><td>合同ミーティング</td></tr>
<tr><td>12/16 (水)</td><td colspan="2">ミーティングお休み</td></tr>
<tr><td>12/22 (火)</td><td>18:00〜</td><td>おでん忘年会</td></tr>


</table>

</div>
</div>