---
title: 研究成果
---
<h3 class="title">研究成果</h3>


<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<h3>（原　著・著　書）</h3>
<span class="label round secondary right"><b>* Correspondence author</b></span>

<h4 class="topspace boxtitle">２０１５年</h4>

<ol>

<li>Arai S, Matsuura N, Okamoto Y, Inohara K, Fujioka T, Ishitobi M, Ishitobi M, Kawamura K, Jung M, Wada Y, Kosaka H*. Altered developmental changes in the frontal pole during self-generated spatial working memory in children with attention deficit-hyperactivity disorder: a near-infrared spectroscopy study with CANTAB®. <b><i>Brain Dev</i></b>, 2015 Dec 18. pii: S0387-7604(15)00235-1, 2015. doi: 10.1016/j.braindev.2015.11.005</li>

<li>Shimada K, Takiguchi S, Fujisawa TX, Naruse H, Kosaka H, Okazawa H, Tomoda A*.  Ethnic differences in COMT genetic effects on striatal grey matter alterations associated with childhood ADHD: A voxel-based morphometry study in a Japanese sample. <b><i>World J Biol Psychiatry</i></b>,  Nov 18:1-7, 2015. doi: 10.3109/15622975.2015.1102325</li>

<li>Mizushima S, Fujisawa TX, Takiguchi S, Kumazaki H, Tanaka S, Tomoda A*. Effect of the nature of subsequent environment on oxytocin and cortisol secretion in maltreated children. <b><i>Front Psychiatry</i></b>, 6:173;1-9, 2015.</li>

<li>Jung M, Mody M, Saito DN, Tomoda A, Okazawa H, Kosaka H*. Sex differences in the default mode network with regard to autism spectrum traits: A resting state fMRI study. <b><i>PLoS One</i></b>, 10(11): e0143126, 2015.</li>

<li> Takiguchi S, Fujisawa TX, Mizushima S, Saito DN, Okamoto Y, Shimada K, Koizumi M, Kumazaki H, Jung M, Kosaka H, Hiratani M, Ohshima Y, Teicher, MH, Tomoda A*. Ventral striatum dysfunction in children and adolescents with reactive attachment disorder: functional MRI study. <b><i>Br J Psychiatry Open</i></b>, 1:121–128, 2015. doi: 10.1192/bjpo.bp.115.001586 </li>

<li>Kumazaki H*, Muramatsu T, Kosaka H, Fujisawa TX, Iwata K, Tomoda A, Tsuchiya K, Mimura M. Sex differences in cognitive and symptom profiles in children with high functioning Autism Spectrum Disorders. <b><i>Res Autism Spectr Disord</i></b>, 13–14 (2015) 1–7, 2015. doi: org/10.1016/j.rasd.2014.12.011</li>

<li>Suzuki H, Tomoda A*. Roles of attachment and self-esteem: Impact of early life stress on depressive symptoms among Japanese institutionalized children. <b><i>BMC Psychiatry</i></b>, 15(1):8, 2015. doi: 10.1186/s12888-015-0385-1</li>

<li>Fujisawa TX, Yatsuga C, Mabe H, Yamada E, Masuda M, Tomoda A*. Anorexia nervosa during adolescence is associated with decreased gray matter volume in the inferior frontal gyrus. <b><i>PLoS One</i></b>,  Jun11;10(6):e0128548, 2015. doi: 10.1371/journal.pone.0128548. </li>

<li>Shimada K, Takiguchi S, Mizushima S, Fujisawa TX, Saito DN, Kosaka H, Okazawa H, Tomoda A*. Reduced visual cortex gray matter volume in children and adolescents with reactive attachment disorder. <b><i>Neuroimage Clin</i></b>, 9:13-19, 2015. doi: 10.1016/j.nicl.2015.07.001</li>

<li>Fujioka T, Takiguchi S, Yatsuga C, Hiratani M, Hon K, Min-Sup S, Cho S, Kosaka H, Tomoda A*. Advanced test of attention in children with Attention-Deficit/Hyperactivity Disorder in Japan for evaluation of methylphenidate and atomoxetine effects. <b><i>Clin Psychopharmacology Neurosci</i></b>, in press, 2015</li>

<li>Tomoda A*, Takiguchi S, Fujisawa TX, Yatsuga C, Kumazaki H, Fujioka T, Suzuki H, Matsuzaki H, Kosaka H, Tanaka S. Effectiveness in cognitive function of oral tipepidine administration for children with attention deficit/hyperactivity disorder: A 4-week, open-label clinical study. <b><i>Psychiatry Clin Neurosci</i></b>, Oct;69(10):658-9, 2015.</li>

<li>Fujisawa TX, Jung M, Kojima M, Saito DN, Kosaka H, Tomoda A*. Neural basis of psychological growth following adverse experiences: a resting-state functional MRI study. <b><i>PLoS One</i></b>, 10(8):e0136427, 2015.</li>

<li>Mizuno K*, Tanaka M, Tanabe HC, Joudoi T, Kawatani J, Shigihara Y, Tomoda A, Miike T, Imai-Matsumura K, Sadato N, Watanabe Y. Less efficient and costly processes of frontal cortex in childhood chronic fatigue syndrome. <b><i>Neuroimage Clin</i></b>, 9:355–368, 2015. doi: 10.1016/j.nicl.2015.09.001.</li>

<li>Mizuno K, Takiguchi S, Yamazaki M, Asano M, Kato S, Kuriyama K, Watanabe Y, Sadato N, Tomoda A*. Impaired neural reward processing in children and adolescents with reactive attachment disorder: a pilot study.  <b><i>Asian J Psychiatr</i></b>, Aug 18. pii: S1876-2018(15)00176-8, 2015. doi: 10.1016/j.ajp.2015.08.002</li>

<li>小島雅彦，藤澤隆史，小泉径子，青井利哉，水島 栄，友田明美.<br/>
青年期のメンタルヘルスに関する調査（１）－高校生の抑うつと自殺念慮および心的外傷後ストレス症状の実態－.<br/>
子どものこころと脳の発達, 6巻1号; 23-30, 2015.</li>

<li>小島雅彦，藤澤隆史，小泉径子，青井利哉，水島 栄，友田明美.<br/>
青年期のメンタルヘルスに関する調査（２）－エゴ・レジエンスおよび心的外傷後成長のメンタルへルスとの関係－.<br/>
子どものこころと脳の発達, 6巻1号; 31-41, 2015.</li>

<li>友田明美.<br/>
社会脳からみた児童虐待.<br/>
社会脳シリーズ第８巻『成長し衰退する脳』（苧阪直行編）新曜社, p227-246, 2015. 3月</li>

<li>友田明美, 野路恵理香, 三池輝久.<br/>
思春期の不眠・過眠について（小児神経科医の立場から）<br/>
｢日常診療における子どもの睡眠障害｣（谷池雅子 編）, 診断と治療社, p42-51, 2015. ４月</li>

<li>友田明美. <br/>
情動ストレスによる虐待の脳に与える影響. <br/>
「乳幼児虐待に対する評価と介入・支援」（青木豊編）, 岩崎学術出版社, p21-32, 2015. 7月</li>

<li>友田明美.<br/> 愛着と虐待.<br/>
日本発達心理学会編「発達科学ハンドブック」第８巻『脳の発達科学』（榊原洋一, 米田英嗣 責任編集）, 新曜社, p53-60, 2015. 8月</li>

<li>友田明美. <br/>発達する脳と子ども虐待. <br/>こころの科学181号（特集・「発達」からみたこころの臨床）, 日本評論社; 31-37, 2015.</li>

<li>水島 栄.<br/>発達精神病理学視点.<br/>こころの科学181号（特集・「発達」からみたこころの臨床）,日本評論社; 60-70, 2015.</li>

<li>熊崎博一, 友田明美.<br/>DSM-5におけるPTSD.<br/>
精神科, 26巻2号; 97-103, 2015</li>

<li>友田明美.<br/>命を救う− 子ども虐待防止最前線と弁護士の役割: 児童虐待による脳への傷と回復へのアプローチ.<br/>
自由と正義, 66巻6号; 24-31, 2015.</li>

<li>友田明美.<br/>子育て支援の意義を確認する〜児童虐待といやされない傷〜.<br/>
沖縄の小児保健, 42号; 3-7, 2015.</li>

<li>友田明美.<br/>
こころの傷が脳に与える影響.<br/>
月刊地域保健「愛着を結ぶ、深める」, 2月号; 18-23, 2015, 2月</li>

<li>友田明美.<br/>
躁病と注意欠陥多動性障害(ADHD)：症状、病態、治療法は共通か？<br/>
日本生物学的精神医学会誌, 25巻4号; 181-185, 2015, 3月.</li>

<li>神崎 晶, 熊崎博一. <br/>嗅覚と精神障害 (特集 精神耳鼻咽喉科学). <br/>精神科, 26巻5号;  362-365, 2015.</li>

<li>友田明美.<br/> 
子ども虐待による小児期のストレスが脳の発達に及ぼす影響について. <br/>
こどもケア2015, 10巻3号; 80-82, 2015, 8月.</li>

<li>友田明美.<br/>
被虐待者の脳科学研究〜発達障害や愛着障害の脳科学研究〜.<br/>
精神神経学雑誌, 117巻11号; 928-935, 2015, 11月　</li>

<li>友田明美.<br/>
子どものこころの発達を見守る〜発達障害や愛着障害の脳科学研究〜.<br/>
日本小児科学会雑誌, 119巻11号; 1620-1627, 2015, 11月</li>

<li>友田明美.<br/>
児童虐待への曝露が局所脳領域の発達に及ぼす神経生物学的影響の予備的検証.<br/>
児童青年精神医学とその近接領域, 56巻4号; 487-489, 2015, 12月.</li>

</ol>

<h4 class="boxtitle">２０１４年</h4>

<ol>
<li>Liang S, Wang X, Zoua M, Wanga H, Zhoua X, Suna C, Xia W, Wu L*, Fujisawa TX, Tomoda A. Family based association study of ZNF533, DOCK4 and IMMP2L gene polymorphisms linked to Autism in a Han population in northeastern China. <b><i>J Zhejiang Univ Sci B</i></b>, 15(3):264-71, 2014.  doi: 10.1631/jzus.B1300133</li>

<li>Jung M, Kosaka H*, Saito DN, Ishitobi M, Morita T, Inohara K, Sasaki A, Asano M, Arai S, Masuya Y, Munesue T, Tomoda A, Wada Y, Sadato N, Okazawa H, Iidaka T. Default mode network in young male adults with autism spectrum disorder: relationship with autism spectrum traits. <b><i>Molecular Autism</i></b>, 5:35, 2014.  doi: 10.1186/2040-2392-5-35.</li>

<li>Yatsuga C, Toyohisa D, Fujisawa TX, Nishitani S, Shinohara K, Ikeda N, Matsuura N, Muramatsu M, Hamada A, Tomoda A*. No association between catechol-O-methyltransferase (COMT) genotype and attention deficit hyperactivity disorder (ADHD) in Japanese children. <b><i>Brain Dev</i></b>, 36:620-625, 2014.  doi: 10.1016/j.braindev.2013.08.006. </li>

<li>Kumazaki H*, Watanabe K, Imasaka Y, Iwata K, Tomoda A, Mimura M. Risperidone-associated urinary incontinence in patients with autistic disorder with mental retardation. <b><i>J Clin Psychopharmacol</i></b>, 34(5): 624-6, 2014.  doi: 10.1097/JCP.0000000000000197. </li>

<li>Fujisawa TX, Tanaka S, Saito DN, Kosaka H, Tomoda A*. Visual attention for social information and salivary oxytocin levels in preschool children with autism spectrum disorders: An eye-tracking study. <b><i>Front Neurosci</i></b> 8:295, 2014.  doi:10.3389/fnins.2014.00295</li>

<li>友田明美, 藤澤隆史, 八ツ賀千穂, 安田久美, 田仲志保, 熊崎博一, 山﨑未花, 日下幸則, 佐藤 真.<br/>
福井Age2企画～福井県永平寺町小規模集団での発達コホート研究～.<br/>
日本社会精神医学会雑誌, 23巻4号; 379-386, 2014, 11月.</li>

<li>友田明美. 発達障害と虐待の脳科学.<br/>
発達障害医学の進歩（郷間英世編）, 診断と治療社, p53-60, 2014. 4月</li>

<li>友田明美. 子どものPTSDが近年注目される理由.<br/>
子どものPTSD（友田明美, 杉山登志郎, 谷池雅子編）, 診断と治療社, p2-5, 2014. 5月</li>

<li>友田明美. 脳科学から見たPTSD.<br/>
子どものPTSD（友田明美, 杉山登志郎, 谷池雅子編）, 診断と治療社, p94-101, 2014. 5月</li>

<li>藤澤隆史. 子どものトラウマがその後の発達に及ぼす影響－内分泌の視点から－.<br/>
子どものPTSD（友田明美, 杉山登志郎, 谷池雅子編）, 診断と治療社, p141-148, 2014. 5月</li>

<li>滝口慎一郎, 八ツ賀千穂. 子どものトラウマと多動性障害.<br/>
子どものPTSD（友田明美, 杉山登志郎, 谷池雅子編）, 診断と治療社, p115-122, 2014. 5月</li>

<li>熊崎博一. 年齢・性別における子どものトラウマ反応と心のケア<br/>
｢子どものPTSD｣（友田明美, 杉山登志郎, 谷池雅子編）, 診断と治療社, p232-239, 2014. 5月</li>

<li>小泉径子. 表情刺激課題で読み取れる子どものトラウマ.<br/>
｢子どものPTSD｣（友田明美, 杉山登志郎, 谷池雅子編）, 診断と治療社, p20-25, 2014. 5月</li>

<li>水島 栄. 子どものトラウマに対する遊戯療法について<br/>
｢子どものPTSD｣（友田明美, 杉山登志郎, 谷池雅子編）, 診断と治療社, p240-247, 2014. 5月</li>

<li>友田明美. 折れた子どものこころとはどのようになっているのか ―児童虐待による脳の変化―.<br/>
｢子どものこころの医学｣（中村和彦編）, 金芳堂, p96-107, 2014. 6月</li>

<li>友田明美.<br/>
注意欠如/多動性障害(ADHD)の病態.<br/>
こころの科学｢神経発達障害のすべて｣（森 則夫, 杉山登志郎編）, 日本評論社, p74-79, 2014. 10月</li>

<li>熊崎博一.<br/>
ADHDの治療戦略.<br/>
こころの科学「神経発達障害のすべて」（森 則夫, 杉山登志郎編）, 日本評論社, p67-73, 2014, 10月.</li>

<li>熊崎博一, 友田明美.<br/>
子どもの虐待における扁桃体.<br/>
Clinical巻6号; 683-685, 2014, 6月</li>

<li>熊崎博一, 友田明美.<br/>
AD/HDと物質関連障害.<br/>
臨床精神薬理, 17巻9号; 1273-1278, 2014, 9月</li>

<li>熊崎博一, 友田明美.<br/>
子ども虐待.<br/>
小児科臨床「幼稚園保健2014：最近のトピックス」, 245-250, 2014, 11月.</li>

<li>友田明美.<br/>
脳科学から見た子ども虐待.<br/>
助産師, 68巻1号; 20-23, 2014, 2月.</li>

<li>八ツ賀千穂, 友田明美.<br/>
朝がだるくて起きられない.<br/>
小児科学レクチャー, 4巻1号; 636-643, 2014, 2月.</li>

</ol>

<h4 class="boxtitle">２０１３年</h4>

<ol>
<li>Mizuno K, Yoneda T, Komi M, Hirai T, Watanabe Y, Tomoda A*. Osmotic release oral system-methylphenidate improves neural activity during low reward processing in children and adolescents with attention-deficit/hyperactivity disorder. <b><i>Neuroimage: Clinical</i></b>, Mar 16;2:366-376, 2013.  doi: 10.1016/j.nicl.2013.03.004</li>

<li>Tomoda A*, Nishitani S, Matsuura N, Fujisawa TX, Kawatani J, Toyohisa D, Ono M, Shinohara K. No interaction between serotonin transporter polymorphism gene (5-HTTLPR) and adversity on depression among Japanese children and adolescents. <b><i>BMC Psychiatry</i></b>, 13: 134-143, 2013.  doi: 10.1186/1471-244X-13-134</li>

<li>Ishitobi M*, Kosaka H, Takahashi T, Yatsuga C, Asano M, Tanaka Y, Ueno K, Okazaki R, Omori M, Hiratani M, Tomoda A, Wada Y. Effectiveness and tolerability of switching to aripiprazole from risperidone in subjects with Pervasive Developmental Disorders: A prospective open-label study. <b><i>Clinical Neuropharmacology</i></b>, Sep-Oct;36(5):151-6. doi: 10.1097/WNF.0b013e3182a31ec0, 2013.</li>

<li>Kawabata M, Ueno T, Tomita J, Kawatani J, Tomoda A, Kume S, Kume K*. Temporal organizations of rest defined by actigraphy in healthy and childhood chronic fatigue syndrome children. <b><i>BMC Psychiatry</i></b>, Nov 4;13(1):281, 2013.</li>

<li>友田明美.<br/>
脳科学と子ども虐待 ―脳画像から見えるもの―.<br/>
ヒューマンケアブックス｢講座　子ども虐待への新たなケア｣（杉山登志郎編）, 学研教育出版, p40-54, 2013. </li>

<li>友田明美.<br/>
脳を守り育む～児童虐待と傷ついていく脳～.<br/>
ぎふ精神科保健福祉, 49巻4月12日号; 63-69, 2013.</li>

<li>友田明美.<br/>
発達性トラウマ障害.<br/>
小児内科『特集 クローズアップ 新しい子どもの病気』, 45巻6号; 2013-2016, 2013, 6月.</li>

<li>八ツ賀千穂, 友田明美.<br/>
小児型慢性疲労症候群と頭痛.<br/>
小児科診療『小児の頭痛－診かた・考えかたの実践－』, 76巻8号; 1293-1296, 2013, 8月.</li>

<li>滝口慎一郎, 齋藤大輔, 小坂浩隆, 友田明美.<br/>
心の発達の研究最前線：脳科学の観点から－fMRIを中心に.<br/>
小児内科『特集 クローズアップ 子どもの心の発達』, 45巻8号; 1428-1433, 2013, 8月.</li>

<li>友田明美.<br/>
虐待・体罰が子どもの脳に与える影響.<br/>
教育と医学『特集 体罰をなくすには』, 61巻８号; 636-643, 2013, 8月.</li>

<li>友田明美.<br/>
児童虐待と脳科学.<br/>
児童青年精神医学とその近接領域, 54巻3号; 260-268, 2013, 10月.</li>

<li>友田明美.<br/>
児童虐待の脳画像解析.<br/>
分子精神医学 『特集 家族関係の行動神経基盤』, 13巻4号; 243-250, 2013, 10月.</li>

<li>友田明美.<br/>
児童虐待における海馬を含む脳の変化.<br/>
Clinical Neuroscience『特集 海馬とその周辺』, 31巻12号; 1441-1445, 2013, 12月.</li>

</ol>

<h4 class="boxtitle">２０１２年</h4>

<ol>
<li>Tomoda A*, Polcari A, Andersen CM, Teicher MH. Reduced visual cortex gray matter volume and thickness in young adults who witnessed domestic violence during childhood. <b><i>PLoS One</i></b>, 7(12):e52528, 2012.  doi: 10.1371/journal.pone.0052528</li>

<li>Kosaka H*, Munesue T, Ishitobi M, Asano M, Omori M, Tomoda A, Wada Y. Long-term oxytocin administration improves social behaviors in a girl with autistic disorder. <b><i>BMC Psychiatry</i></b> Aug 13;12(1):110, 2012. </li>

<li>Santen GWE*, Gijsbers ACJ, Carré A, M. Holvoet M, van Haeringen A, Lesnik-Oberstein SAMJ, Tomoda A, Mabe H, Polak M, Devriendt K, Ruivenkamp C, Bijlsma EK. Further delineation of the phenotype of chromosome 14q13 deletions: (positional) involvement of FOXG1 appears the main determinant of phenotype severity, no evidence for a holoprosencephaly locus. <b><i>J Med Genet</i></b>, Jun;49(6):366-72, 2012.</li>

<li>Tomoda A*, Kinoshita S, Korenaga Y, Mabe H. Pseudohypacusis in childhood and adolescence is associated with increased gray matter volume in medial frontal gyrus and superior temporal gyrus. <b><i>Cortex</i></b>, 48, 492-503, 2012.</li>

<li>Ishitobi M*, Hiratani M, Kosaka H, Takahashi T, Mizuno T, Asano M, Murata T, Tomoda A, Wada Y. Switching to aripiprazole in subjects with Pervasive Developmental Disorders showing tolerability issues with risperidone. <b><i>Progress in Neuro-Psychopharmacology &amp; Biological Psychiatry</i></b>, Apr 27;37(1):128-31, 2012.</li>

<li>Shi T, Li X, Song J, Zhao N, Sun C, Xia W, Wu L*, Tomoda A. EEG characteristics and visual cognitive function of children with attention deficit hyperactivity disorder (ADHD). <b><i>Brain Dev</i></b>, Nov;34(10):806-11, 2012.</li>

<li>Kawatani M*, Hiratani M, Kometani H, Nakai A, Tsukahara H, Tomoda A, Mayumi M, Ohshima Y. Focal EEG abnormalities might reflect the neurophysiological characteristics of ADHD and PDD. <b><i>Brain Dev</i></b>, 34(9):723-30, 2012.</li>

<li>Wang J, Zhou X, Wei Xia W, Sun C, Wu L*, Wang J, Tomoda A. Parent-reported health care expenditures associated with autism spectrum disorders in Heilongjiang Province, China. <b><i>BMC Health Serv Res</i></b>, Jan 10;12(1):7, 2012. </li>

<li>Tomoda A*, Yamazaki M. Adolescents with sleep disturbance. Sleep Disorders: Causes, Diagnosis and Treatment edited by Nadya Gotsirize-Columbus. <b><i>Nova Science Publishers</i></b>, p21-30, 2012.</li>

<li>八ツ賀千穂, 友田明美. 心理的疾患と障害. からだの科学「子どもの発育・発達と病気」（五十嵐 隆　編）, 日本評論社, 272号; p102-106, 2012.</li>
<li>友田明美, 増田将人. 脳機能への影響, 虐待を受けた子どものケア・治療（西澤 哲, 奥山眞紀子編）, 診断と治療社, p18-22, 2012.</li>
<li>友田明美. 新版いやされない傷－児童虐待と傷ついていく脳. 診断と治療社, p 1-151, 2012.</li>
<li>友田明美. 子どものPTSDは脳にどのような変化をもたらすか？ 発達障害白書 2013年版 日本発達障害福祉連盟編, 明石書店, p52-53, 2012.</li>
<li>滝口慎一郎, 友田明美. 親子関係に問題がある家庭への対応. 小児科学レクチャー『子どもの発達と心の問題Q&amp;A ―健診から思春期までの評価と指導の実際―』 第2巻6号（岡 明編）, 総合医学社, p1269-1277, 2012.</li>
<li>友田明美. 言語障害. 今日の治療と看護 (改訂第3版)（永井良三, 太田 健編）, 南江堂, p1312-1315, 2013.3.30.</li>
<li>Coghil D, 林 隆, 氏家 武, 友田明美, 清田晃生, 原田 謙, 山下 洋. 児童期および青年期の注意欠如・多動性障害（ADHD）における薬物療法の個別化と最適化. 小児科臨床, 65巻5号；131-142, 2012.</li>
<li>友田明美. 発達性トラウマ障害 — 発達障害としてのトラウマ関連障害. 小児の精神と神経, 52巻1号；21-26, 2012.</li>
<li>友田明美. 脳科学から見たPTSD. ミニ特集『東日本大震災における子どもの心とその支援』 小児科臨床, 65巻10号, 2119-2122, 2012.</li>
<li>友田明美. 子どもの育ち. チャイルドヘルス, 15巻3号; 162, 2012.</li>
</ol>

<h4 class="boxtitle">２０１１年 </h4>

<ol>
<li>Kawatani J, Mizuno K, Shiraishi S, Takano M, Joudoi T, Fukuda S, Watanabe Y, Tomoda A*. Cognitive dysfunction and mental fatigue in childhood chronic fatigue syndrome – A six-month follow-up study. <b><i>Brain Dev</i></b>, 33(10), 832-841, 2011.</li>

<li>Tomoda A*, Sheu Y, Rabi K, Suzuki H, Navalta C, Polcari A, Teicher MH.  Exposure to parental verbal abuse is associated with increased gray matter volume in superior temporal gyrus.<b><i> Neuroimage</i></b>, 54 Jan, S280-286, 2011.</li>

<li>Maeda L, Ono M, Koyama T, Oshiro Y, Sumitani M, Mashimo T, Shibata M. Human brain activity associated with painful mechanical stimulation to muscle and bone. <b><i>J Anesth</i></b>, Jun 2, 2011.</li>

<li>Starr CJ, Sawaki L, Wittenberg GF, Burdette JH, Oshiro Y, Quevedo AS, McHaffie JG, Coghill RC. The contribution of the putamen to sensory aspects of pain: insights from structural connectivity and brain lesions. <b><i>Brain</i></b>, Jul; 134(Pt 7): 1987-2004, 2011. </li>

<li>友田明美. 脳の発達, 発達心理. 小児科学 第10版（五十嵐 隆編）, 文光堂, 31-47, 2011.

<li>友田明美. 児童虐待が脳に及ぼす影響－脳科学と子どもの発達,行動.
脳と発達, 43巻5号; 345-351, 2011.</li>
<li>友田明美. 子ども虐待と脳科学.</li>
日本未熟児新生児学会雑誌, 23巻1号; 55-61,2011.</li>
<li>友田明美. 発達障害のバイオマーカーの進歩：児童虐待が脳に及ぼす影響.
小児の精神と神経, 51巻1号；38-42, 2011.</li>
<li>友田明美. 幼児期生育環境と脳機能－子ども虐待と脳科学.
ストレス科学, 25巻4号; 105-111,2011.</li>
<li>友田明美. 現代を生きる子どもたち－小児科医に求められる対応：子どもの慢性疲労. 小児内科, 43巻5号; 2011-2015, 2011.
<li>友田明美. 児童虐待が脳に及ぼす影響－脳科学と子どもの発達,行動.
福井小児保健協会誌, 15号; 10-16,2011.</li>
<li>友田明美, 増田将人. 子ども虐待と発達障害. 小児科診療 74巻10号/特集:見逃さない！日常診療の中にある子ども虐待・ネグレクト, 74巻10号; 1536-1542, 2011.</li>
<li>友田明美. 虐待の脳科学. 子どものこころと脳の発達, 2巻1号; 14-24, 2011.</li>
<li>友田明美. 子どもの脳に残る傷跡－癒やされない傷. こころの科学159号特別企画「子ども虐待」, 159巻9号; 63-67, 2011.</li>
<li>友田明美. 子ども虐待が脳に及ぼす影響〜脳科学と子どもの発達行動〜. チャイルドヘルス：医学的観点からみた子ども虐待, 14巻9号; 1536-1540, 2011.</li>
<li>山﨑未花, 友田明美. 新生児期以後の評価－可視化脳評価法の進歩, 周産期医学 41巻11号; 1495-1499, 2011.</li>

</li>

</ol>


<hr/>

<dl>

  <dt><a href="/resources/2014_age2_report.pdf">平成26年度活動状況とその成果</a></dt>
  <dd>五大学連合大学院福井校および医学研究科博士課程大学院生も7名に増え、毎日賑やかな研究環境で各自のテーマを追求することができました。</dd>

  <dt><a href="/resources/2013_age2_report.pdf">平成25年度活動状況とその成果</a></dt>
  <dd>私たちは、発達心理や社会行動に関する脳機能画像計測、神経内分泌機能および遺伝子多型解析を統合した学際的アプローチにより、発達障害に関連するさまざまな脳機能・ホルモン・遺伝子多型研究に取り組んでいます。</dd>

  <dt><a href="/resources/2012_age2_report.pdf">平成24年度活動状況とその成果</a></dt>
  <dd>本領域の最も大きな使命でもある、福井県永平寺町で出生した子どもを対象に詳しい発達の評価を行う 「子どもの発達に関する前向きコホート研究」の予備調査を開始することができました。</dd>
</dl>

<hr/>

<h5>研究費獲得</h5>

<ul>
  <li><a href="/resources/2015_kenkyuhi.pdf">2015年度 研究費</a></li>
  <li><a href="/resources/2014_kenkyuhi.pdf">2014年度 研究費</a></li>
  <li><a href="/resources/2013_kenkyuhi.pdf">2013年度 研究費</a></li>
  <li><a href="/resources/2012_kenkyuhi.pdf">2012年度 研究費</a></li>
</ul>   

<hr/>

<ul class="research">
<li>「子どものこころの発達研究センターの愛着障害に関する３つの研究成果」<br/><a href="/resources/Siryou123.pdf" target="article"> プレスリリース</a> 2015.10.2</li>
<li>「自閉症児における社会的情報への視線注視パターンと唾液中オキシトシン濃度の関連性」<a href="/resources/fujisawa_press_release.pdf" target="article">プレスリリース</a> 2014.9.24</li>
<li>「ＤＶ目撃経験者の脳視覚野萎縮」<a href="/resources/Nikkei_kiji.pdf" target="article">日経新聞記事</a> 2013.5.3<br/>
<a href="/resources/press_release_3_25_2013.pdf">福井大学News&amp;Topics</a> 2013.3.25
</li>
<li>「ADHD治療薬の長期投与による報酬感受性の改善効果を解明」<a href="/resources/2013_NeuroImageClinic.pdf" target="article">プレスリリース</a> 2013.3.19</li>
</ul>

</div>
</div>