---
title: 研究成果
---
<h3 class="title">研究成果</h3>

<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<dl>
  <dt><a href="/resources/2013_age2_report.pdf">平成25年度活動状況とその成果</a></dt>
  <dd>私たちは、発達心理や社会行動に関する脳機能画像計測、神経内分泌機能・遺伝子多型解析を統合した学際的アプローチにより、発達障害に関連するさまざまな脳機能・ホルモン・遺伝子多型解明に現在まで取り組んできています。</dd>

  <dt><a href="/resources/2012_age2_report.pdf">平成24年度活動状況とその成果</a></dt>
  <dd>本領域の最も大きな使命でもある、福井県永平寺町で出生した子どもを対象に詳しい発達の評価を行う 「子どもの発達に関する前向きコホート研究」の予備調査を開始することができました。</dd>
</dl>

</div>
</div>