---
title: 研究成果
---
<h3 class="title">研究成果</h3>


<div class="row">
  <div class="medium-offset-1 medium-10 columns">
<h3>（原　著・著　書）</h3>
<span class="label round secondary right"><b>* Correspondence author</b></span>

<h4 class="topspace boxtitle">２０１５年</h4>

<ol>
<li>Kumazaki H*, Muramatsu T, Kosaka H, Fujisawa TX, Iwata K, Tomoda A, Tsuchiya K, Mimura M. Sex differences in cognitive and symptom profiles in children with high functioning Autism Spectrum Disorders. <b><i>Research in Autism Spectrum Disorders</i></b>, 13–14 (2015) 1–7, 2015. </li>

<li>Suzuki H, Tomoda A*. Roles of attachment and self-esteem: Impact of early life stress on depressive symptoms among Japanese institutionalized children. <b><i>BMC Psychiatry</i></b>, 15(1):8, 2015. </li>

<li>Fujisawa TX, Yatsuga C, Mabe H, Yamada E, Masuda M, Tomoda A*. Anorexia nervosa during adolescence is associated with decreased gray matter volume in the inferior frontal gyrus. <b><i>PLoS One</i></b>, in press, 2015.  </li>

</ol>

<h4 class="boxtitle">２０１４年</h4>

<ol>
<li>Liang S, Wang X, Zoua M, Wanga H, Zhoua X, Suna C, Xia W, Wu L*, Fujisawa TX, Tomoda A. Family based association study of ZNF533, DOCK4 and IMMP2L gene polymorphisms linked to Autism in a Han population in northeastern China. <b><i>J Zhejiang Univ Sci B</i></b>, 15(3):264-71, 2014.  doi: 10.1631/jzus.B1300133</li>

<li>Jung M, Kosaka H*, Saito DN, Ishitobi M, Morita T, Inohara K, Sasaki A, Asano M, Arai S, Masuya Y, Munesue T, Tomoda A, Wada Y, Sadato N, Okazawa H, Iidaka T. Default mode network in young male adults with autism spectrum disorder: relationship with autism spectrum traits. <b><i>Molecular Autism</i></b>, 5:35, 2014.  doi: 10.1186/2040-2392-5-35.</li>

<li>Yatsuga C, Toyohisa D, Fujisawa TX, Nishitani S, Shinohara K, Ikeda N, Matsuura N, Muramatsu M, Hamada A, Tomoda A*. No association between catechol-O-methyltransferase (COMT) genotype and attention deficit hyperactivity disorder (ADHD) in Japanese children. <b><i>Brain Dev</i></b>, 36:620-625, 2014.  doi: 10.1016/j.braindev.2013.08.006. </li>

<li>Kumazaki H*, Watanabe K, Imasaka Y, Iwata K, Tomoda A, Mimura M. Risperidone-associated urinary incontinence in patients with autistic disorder with mental retardation. <b><i>J Clin Psychopharmacol</i></b>, 34(5): 624-6, 2014.  doi: 10.1097/JCP.0000000000000197. </li>

<li>Fujisawa TX, Tanaka S, Saito DN, Kosaka H, Tomoda A*. Visual attention for social information and salivary oxytocin levels in preschool children with autism spectrum disorders: An eye-tracking study. <b><i>Front Neurosci</i></b> 8:295, 2014.  doi:10.3389/fnins.2014.00295</li>
</ol>

<h4 class="boxtitle">２０１３年</h4>

<ol>
<li>Mizuno K, Yoneda T, Komi M, Hirai T, Watanabe Y, Tomoda A*. Osmotic release oral system-methylphenidate improves neural activity during low reward processing in children and adolescents with attention-deficit/hyperactivity disorder. <b><i>Neuroimage: Clinical</i></b>, Mar 16;2:366-376, 2013.  doi: 10.1016/j.nicl.2013.03.004</li>

<li>Tomoda A*, Nishitani S, Matsuura N, Fujisawa TX, Kawatani J, Toyohisa D, Ono M, Shinohara K. No interaction between serotonin transporter polymorphism gene (5-HTTLPR) and adversity on depression among Japanese children and adolescents. <b><i>BMC Psychiatry</i></b>, 13: 134-143, 2013.  doi: 10.1186/1471-244X-13-134</li>

<li>Ishitobi M*, Kosaka H, Takahashi T, Yatsuga C, Asano M, Tanaka Y, Ueno K, Okazaki R, Omori M, Hiratani M, Tomoda A, Wada Y. Effectiveness and tolerability of switching to aripiprazole from risperidone in subjects with Pervasive Developmental Disorders: A prospective open-label study. <b><i>Clinical Neuropharmacology</i></b>, Sep-Oct;36(5):151-6. doi: 10.1097/WNF.0b013e3182a31ec0, 2013.</li>

<li>Kawabata M, Ueno T, Tomita J, Kawatani J, Tomoda A, Kume S, Kume K*. Temporal organizations of rest defined by actigraphy in healthy and childhood chronic fatigue syndrome children. <b><i>BMC Psychiatry</i></b>, Nov 4;13(1):281, 2013.</li>
</ol>

<h4 class="boxtitle">２０１２年</h4>

<ol>
<li>Tomoda A*, Polcari A, Andersen CM, Teicher MH. Reduced visual cortex gray matter volume and thickness in young adults who witnessed domestic violence during childhood. <b><i>PLoS One</i></b>, 7(12):e52528, 2012.  doi: 10.1371/journal.pone.0052528</li>

<li>Kosaka H*, Munesue T, Ishitobi M, Asano M, Omori M, Tomoda A, Wada Y. Long-term oxytocin administration improves social behaviors in a girl with autistic disorder. <b><i>BMC Psychiatry</i></b> Aug 13;12(1):110, 2012. </li>

<li>Santen GWE*, Gijsbers ACJ, Carré A, M. Holvoet M, van Haeringen A, Lesnik-Oberstein SAMJ, Tomoda A, Mabe H, Polak M, Devriendt K, Ruivenkamp C, Bijlsma EK. Further delineation of the phenotype of chromosome 14q13 deletions: (positional) involvement of FOXG1 appears the main determinant of phenotype severity, no evidence for a holoprosencephaly locus. <b><i>J Med Genet</i></b>, Jun;49(6):366-72, 2012.</li>

<li>Tomoda A*, Kinoshita S, Korenaga Y, Mabe H. Pseudohypacusis in childhood and adolescence is associated with increased gray matter volume in medial frontal gyrus and superior temporal gyrus. <b><i>Cortex</i></b>, 48, 492-503, 2012.</li>

<li>Ishitobi M*, Hiratani M, Kosaka H, Takahashi T, Mizuno T, Asano M, Murata T, Tomoda A, Wada Y. Switching to aripiprazole in subjects with Pervasive Developmental Disorders showing tolerability issues with risperidone. <b><i>Progress in Neuro-Psychopharmacology &amp; Biological Psychiatry</i></b>, Apr 27;37(1):128-31, 2012.</li>

<li>Shi T, Li X, Song J, Zhao N, Sun C, Xia W, Wu L*, Tomoda A. EEG characteristics and visual cognitive function of children with attention deficit hyperactivity disorder (ADHD). <b><i>Brain Dev</i></b>, Nov;34(10):806-11, 2012.</li>

<li>Kawatani M*, Hiratani M, Kometani H, Nakai A, Tsukahara H, Tomoda A, Mayumi M, Ohshima Y. Focal EEG abnormalities might reflect the neurophysiological characteristics of ADHD and PDD. <b><i>Brain Dev</i></b>, 34(9):723-30, 2012.</li>

<li>Wang J, Zhou X, Wei Xia W, Sun C, Wu L*, Wang J, Tomoda A. Parent-reported health care expenditures associated with autism spectrum disorders in Heilongjiang Province, China. <b><i>BMC Health Serv Res</i></b>, Jan 10;12(1):7, 2012. </li>

<li>Tomoda A*, Yamazaki M. Adolescents with sleep disturbance. Sleep Disorders: Causes, Diagnosis and Treatment edited by Nadya Gotsirize-Columbus. <b><i>Nova Science Publishers</i></b>, p21-30, 2012.</li>
</ol>

<h4 class="boxtitle">２０１１年 </h4>

<ol>
<li>Kawatani J, Mizuno K, Shiraishi S, Takano M, Joudoi T, Fukuda S, Watanabe Y, Tomoda A*. Cognitive dysfunction and mental fatigue in childhood chronic fatigue syndrome – A six-month follow-up study. <b><i>Brain Dev</i></b>, 33(10), 832-841, 2011.</li>

<li>Tomoda A*, Sheu Y, Rabi K, Suzuki H, Navalta C, Polcari A, Teicher MH.  Exposure to parental verbal abuse is associated with increased gray matter volume in superior temporal gyrus.<b><i> Neuroimage</i></b>, 54 Jan, S280-286, 2011.</li>

<li>Maeda L, Ono M, Koyama T, Oshiro Y, Sumitani M, Mashimo T, Shibata M. Human brain activity associated with painful mechanical stimulation to muscle and bone. <b><i>J Anesth</i></b>, Jun 2, 2011.</li>

<li>Starr CJ, Sawaki L, Wittenberg GF, Burdette JH, Oshiro Y, Quevedo AS, McHaffie JG, Coghill RC. The contribution of the putamen to sensory aspects of pain: insights from structural connectivity and brain lesions. <b><i>Brain</i></b>, Jul; 134(Pt 7): 1987-2004, 2011. </li>

</ol>


<hr/>

<dl>
  <dt><a href="/resources/2014_age2kikaku.pdf">平成26年度活動状況とその成果</a></dt>
  <dd>五大学連合大学院福井校および医学研究科博士課程大学院生も7名に増え、毎日賑やかな研究環境で各自のテーマを追求することができました。</dd>

  <dt><a href="/resources/2013_age2_report.pdf">平成25年度活動状況とその成果</a></dt>
  <dd>私たちは、発達心理や社会行動に関する脳機能画像計測、神経内分泌機能および遺伝子多型解析を統合した学際的アプローチにより、発達障害に関連するさまざまな脳機能・ホルモン・遺伝子多型研究に取り組んでいます。</dd>

  <dt><a href="/resources/2012_age2_report.pdf">平成24年度活動状況とその成果</a></dt>
  <dd>本領域の最も大きな使命でもある、福井県永平寺町で出生した子どもを対象に詳しい発達の評価を行う 「子どもの発達に関する前向きコホート研究」の予備調査を開始することができました。</dd>
</dl>

<hr/>

<h5>研究費獲得</h5>

<ul>
  <li><a href="/resources/kennkyuuhi.pdf">2014年度 研究費</a></li>
  <li>2013年度 研究費</li>
  <li>2012年度 研究費</li>
</ul>   

<hr/>

<ul class="research">
<li>「自閉症児における社会的情報への視線注視パターンと唾液中オキシトシン濃度の関連性」<a href="/resources/fujisawa_press_release.pdf" target="article">プレスリリース</a> 2014.9.24</p></li>
<li>「ＤＶ目撃経験者の脳視覚野萎縮」<a href="/resources/Nikkei_kiji.pdf" target="article">日経新聞記事</a> 2013.5.3</li>
<li>「ADHD治療薬の長期投与による報酬感受性の改善効果を解明」<a href="/resources/2013_NeuroImageClinic.pdf" target="article">プレスリリース</a> 2013.3.19</li>
</ul>

</div>
</div>