---
title: スタッフ
---

<h3 class="title">メンバー紹介</h3>
<div class="row">
  <div class="large-6 columns">
    <img src="images/2015_0120group.jpg">
    <p class="topspace">発達支援研究室は楽しい仲間が集まり研究に勤しんでいます</p>

    <h4>パーティ</h4>
      <ul class="">
       <li>新年会</li>
       <li>送別会</li>
       <li>暑気払い</li>
       <li>忘年会　<a href="/resources/2015_bounenkai.pdf">２０１５年の写真</a></li>
     </ul>

  </div>
  <div class="large-6 columns">

  <h3>紹介・院生便り</h3>
  <ul>
    <li><a href="staff/tomoda.html">友田 明美 (教授）</a></li>
    <li><a href="staff/fujisawa.html">藤澤 隆史 (特命講師）</a></li>
    <li><a href="staff/shimada_kouji.html">島田浩二 (特命助教）</li>
    <li><a href="staff/takiguchi.html">滝口 慎一郎（子どものこころ診療部 特命助教）</a></li>
    <li><a href="staff/naruse.html">成瀬 廣亮（連合大学院博士課程 D3）</a></li>
    <li><a href="staff/mizushima.html">水島 栄（特別研究員）</a></li>
    <li><a href="staff/yamaguchi.html">山口 大輔（連合大学院博士課程 D3）</a></li>
    <li><a href="staff/nishizato.html">西里 美菜保（連合大学院博士課程 D3・コホート研究員・臨床心理士）</a></li>
    <li><a href="staff/mizuno_yoshifumi.html">水野 賀史（連合大学院博士課程 D2・<br/>子どものこころ診療部 病院助教）</a></li>
    <li><a href="staff/kuboshita_ryou.html">久保下 亮（連合大学院博士課程D1）</a></li>
    <li>笠羽 涼子（連合大学院博士課程D1）</li>
    <li>榊原 信子（連合大学院博士課程D1）</li>
    <li><a href="staff/kojima.html">小島 雅彦 (連合大学院博士課程 研究生）</a></li>
    <li><a href="staff/aoi.html">青井 利哉 (連合大学院博士課程 研究生）</a></li>
    <li><a href="staff/koizumi.html">小泉 径子 (小坂研究室・PD特別研究員）</a></li>
    <li><a href="staff/tanaka.html">田仲 志保（技術補佐員・コホート研究員）</a></li>
    <li><a href="staff/yasuda.html">安田 久美（子どものこころ診療部・臨床心理士・コホート研究員）</a></li>
    <li><a href="staff/noji.html">野路 恵里佳（後期研修医、肥前精神医療センター出向中）</a></li>
    <li><a href="staff/hatanaka.html">畑中 幸江（発達支援研究室秘書）</a></li>
    <li>道下 優子（事務補佐員）</li>
    <li><a href="staff/morioka.html">森岡 茂己 (学外研究員・福井愛育病院小児科）</a></li>
    <li><a href="staff/hiratani.html">平谷 美智夫（客員教授・平谷子ども発達クリニック）</a></li>
    <li><a href="staff/matsuura.html">松浦 直巳（客員教授・東京福祉大学）</a></li>
    <li><a href="staff/mizuno.html">水野 敬 (学外研究員・理化学研究所）</a></li>
    <li><a href="staff/nishikawa.html">西川里織（RISTEX学術研究員）</a></li>
    <li><a href="staff/takada_saeko.html">高田紗英子（子どものこころ診療部・臨床心理士・RISTEX研究員）</a></li>
    <li><a href="staff/okada.html">岡田眞子（臨床心理士・子どものこころ診療部）</a></li>
    <li><a href="staff/umeda_asako.html">梅田亜沙子（臨床心理士・子どものこころ診療部）</a></li>

  </ul>

  </div>
</div>



