---
title: スタッフ
---

<h3 class="title">メンバー紹介</h3>
<div class="row">
  <div class="large-6 columns">
    <!-- <img src="images/2016_group.jpg"> -->
    <img src="images/zentai1.jpeg">
    <img src="images/zentai2.jpeg">    
    <p class="topspace">発達支援研究室は楽しい仲間が集まり研究に勤しんでいます</p>

    <h4>パーティ</h4>
      <ul class="">
       <li>送別会 
        <a href="/resources/2015_soubetsukai.pdf">２０１５年度の写真</a> ※
        <a href="/resources/2016_soubetsukai.pdf">２０１６年度の写真</a>

       </li>
       <li>暑気払い<a href="/resources/2016_shokibarai.pdf">２０１６年度の写真</a></li>
       <li>忘年会　
        <a href="/resources/2015_bounenkai.pdf">２０１５年度の写真</a> ※ 
        <a href="/resources/2016_bounenkai.pdf">２０１６年度の写真</a>
      </li>
      <li>その他の宴会<a href="/resources/2017_Nobert_reception.pdf">Nobert教授</a> ※ 
        <a href="/resources/2017_nishizato.pdf">西里美菜保 学位祝学会</a>
      </li>
     </ul>

  </div>
  <div class="large-6 columns">

  <h3>紹介・院生便り</h3>
  <ul>
    <li><a href="staff/tomoda.html">友田 明美 (教授）</a></li>
    <li><a href="staff/fujisawa.html">藤澤 隆史 (准教授)</a></li>
    <li><a href="staff/shimada_kouji.html">島田浩二 (助教）</li>
    <li><a href="staff/takiguchi.html">滝口 慎一郎（子どものこころ診療部 特命助教）</a></li>
    <li>西谷正太（特命助教）</a></li>
    <li><a href="staff/makita.html">牧田 快（子どもセンター学術研究員）</a></li>
    <li><a href="staff/shiino_tomoko.html">椎野 智子（特命助教)</a></li>
    <li><a href="staff/hiraoka_daiki.html">平岡 大樹（PD研究員）</a></li>
    <li><a href="staff/daeteoka_satsuki.html">伊達岡五月（RISTEX研究員）</a></li>
    <li><a href="staff/kuboshita_ryou.html">久保下 亮（連合大学院研究生）</a></li>    
    <li><a href="staff/kasaba_ryouko.html">笠羽 涼子（連合大学院研究生）</a></li>
    <li><a href="staff/sakakibara_nobuko.html">榊原 信子（連合大学院研究生・RISTEX研究員）</a></li>
    <li><a href="staff/yao.html">矢尾 明子（連合大学院研究生・AMED研究員）</a></li>
    <li><a href="staff/suzuki.html">鈴木 静香（子どものこころ診療部・心理士）</a></li>
    <li><a href="staff/yasaka.html">八坂 知美（連合大学院博士課程D3・済生会福岡総合病院小児科）</a></li>
    <li><a href="staff/makino_takuya.html">牧野 拓也（連合大学院博士課程D2・特命助教)</a></li>
    <li><a href="staff/ochiai_keiko.html">落合 恵子（連合大学院博士課程D2)</a></li>
    <li><a href="staff/kosaka.html">小坂 拓也（子どものこころ診療部・医学部小児科助教）</a></li>
    <li><a href="staff/hamamura_shoko.html">濱村 尚子（連合大学院博士課程D1・子どものこころ診療部)</a></li>
    <li>倉田 佐和（連合大学院博士課程D1・福岡大学医学部小児科）</li>
    <li><a href="staff/iida_tomoko.html">飯田 知子（子どものこころ診療部・特命助教）</a></li>
    <li><a href="staff/dobashi_keiko.html">土橋 圭子（連合大学院研究生)</a></li>
    <li><a href="staff/hiratani.html">平谷 美智夫（客員教授・平谷子ども発達クリニック院長）</a></li>
    <li><a href="staff/matsuura.html">松浦 直巳（客員教授・三重大学教育学部特別支援教育）</a></li>
    <li><a href="staff/okada.html">岡田眞子（子どものこころ診療部・心理士SV）</a></li>
    <li><a href="staff/hatanaka.html">畑中 幸江（発達支援研究部門・秘書）</a></li>
    <li>梅本　円（研究補助員）</li>
    <li>森田 友絵（研究補助員）</li>
    <li><a href="staff/morioka.html">森岡 茂己 (学外研究員・福井愛育病院小児科）</a></li>
    <li><a href="resources/Giedd_2016seminar.pdf">Jay Giedd (招聘教授・UCSD校 児童青年精神科学科長）</a></li>
  </ul>

  <h3>過去のメンバー</h3>
  <ul>
    <li><a href="staff/mizuno_yoshifumi.html">水野 賀史（米国留学中）</a></li>
    <li>道下 優子（研究補助員）</li>
    <li><a href="staff/noji.html">野路 恵里佳（後期研修医、肥前精神医療センター出向中）</a></li>
    <li><a href="staff/aoi.html">青井 利哉 (連合大学院博士課程 研究生）</a></li>    
    <li><a href="staff/koizumi.html">小泉 径子 (PD特別研究員）</a></li>
    <li><a href="staff/tanaka.html">田仲 志保（技術補佐員）</a></li>
    <li><a href="staff/mizuno.html">水野 敬 (学外研究員・理化学研究所）</a></li>
    <li><a href="staff/kojima.html">小島 雅彦 (連合大学院博士課程 卒業生）</a></li>
    <li><a href="staff/mizushima.html">水島 栄（連合大学院博士課程 卒業生）</a></li>
    <li><a href="staff/naruse.html">成瀬 廣亮（連合大学院博士課程 卒業生）</a></li>
    <li><a href="staff/nishizato.html">西里 美菜保（連合大学院博士課程 卒業生）</a></li>
    <li><a href="staff/nishikawa.html">西川 里織（RISTEX学術研究員）</a></li>
    <li>山﨑未花（特命助教）</li>
    <li><a href="staff/yatuga_chiho.html">八ツ賀 千穂（特命助教）</a></li>
    <li><a href="staff/kumazaki.html">熊崎 博一（特命助教）</li>
    <li><a href="staff/takada_saeko.html">高田 紗英子（診療部臨床心理士・RISTEX研究員）</a></li>
    <li><a href="staff/yasuda.html">安田 久美（診療部臨床心理士・コホート研究員）</a></li>
    <li><a href="staff/umeda_asako.html">梅田亜沙子（診療部臨床心理士）</a></li>
    <li><a href="staff/yamaguchi.html">山口 大輔（愛知淑徳大学講師）</a></li>
    <li><a href="staff/yazawa.html">矢澤 亜季 （RISTEX学術研究員）</a></li>
  </ul>

  </div>

</div>



